div,p,img,a,label,span,ul,li,form,fieldset,h1,h2,h3,h4,h5{border:0;margin:0;padding:0;list-style:none;outline:0;}
h1,h2,h3,h4,h5{font-size:100%;font-weight:normal;margin:0px;padding:0px;}
h1{}
h2{}
h3{}
h4{color:#114019;font-size:18px;font-weight:bold;}
h5{background-color:#153f17;font-size:11px;font-weight:bold;text-align:center;color:#FFFFFF;padding:8px 0;}






.bordLaranja{border-top:2px solid #E83412;border-bottom:2px solid #E83412;padding:8px 0;margin:0 0 15px 0;text-align:center;color:#114019;font-size:18px;font-weight:bold;}

.esq{float:left !important;}
.dir{float:right !important;}
.clear,.clr{clear:both !important;}
.seo{display:none !important;}

.f10{font-size:10px !important;}.f11{font-size:11px !important;}.f12{font-size:12px !important;}
.f13{font-size:13px !important;}.f14{font-size:14px !important;}.f15{font-size:15px !important;}
.f16{font-size:16px !important;}.f17{font-size:17px !important;}.f18{font-size:18px !important;}
.just{text-align:justify !important;}
.center{text-align:center !important;}
.under{text-decoration:underline;}
/*.fix{display: block; content: "."; height: 0; clear: both;}*/

/*html{background:url(../img/bgr_internas.jpg) 0 0 repeat-x #CDCBC5;height:100%;width:100%;}
body{background:url(../img/bgr_topo.jpg) center 0 no-repeat;margin:0;padding:0;font-family:Arial, Helvetica, sans-serif;color:#153F17;font-size:13px;}*/

p{color:#153F17;font-size:13px;margin:0 0 15px 0;}
a{text-decoration:none;}
label{color:#153f17;font-size:12px;font-weight:bold;}
textarea{overflow:auto;}
.centro636{margin:0 auto;width:636px;}
.menuInt{margin:auto;width:880px;margin:0 auto -60px auto;}
.content{margin:40px auto 0;width:880px;min-height:275px;_height:275px;background: #fff;font-family: "Tahoma"; line-height: 1.4em;padding:0 0 50px 0;clear:both;}

/*forms*/
form td{padding:2px 4px 2px 2px;vertical-align:top;}
div.file{background:url(../img/bgr_input.jpg) 100% center no-repeat;padding:0 82px 0 0;position:relative;}
.upload{width:298px;position:absolute;left:0px;top:0px;opacity:0;-moz-opacity:0;filter:alpha(opacity:0);}

/*lista*/
.logoLista{margin:0 0 10px 0;padding:0 10px;font-size:11px;}
.logoLista li{background:url(../img/logoLista.gif) 0 0 no-repeat;color:#153F17;font-weight:bold;padding:0;margin:0;padding:3px 0 3px 22px;min-height:18px;_height:19px;text-align:justify;font-size:13px;}

/*corretores*/
.table_corretores{}
.table_corretores td{padding:0 0 20px 20px;margin:0 0 20px 0;}
.table_familia th,
.table_familia td{padding:0 0 20px 20px;margin:0 0 20px 0;}

/*juridico*/
.juridico{}
.juridico .titulo{font-size:18px;border-bottom:1px solid #FE3A14;border-top:1px solid #FE3A14;margin:0;padding:5px 0;}
.juridico .capitulo{font-size:16px;border-bottom:1px solid #FE3A14;border-top:1px solid #FE3A14;margin:-1px 0 10px 0;padding:4px 0;}
.juridico .bordas{border-bottom:1px solid #FE3A14;border-top:1px solid #FE3A14;padding:5px 0;}

/*servicos*/
.caixaverde{background-color:#153f17;font-size:11px;font-weight:bold;text-align:center;color:#FFFFFF;padding:5px 0;}

.lojas td{font-weight:bold;padding:0 0px 20px 20px;}

/*condominios*/
.tableproposta td{vertical-align:middle;}
.tableproposta table td{padding:0;}

.tab{color:#114019;font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight: bold;}

.modal_img_fixed {position:fixed !important;}
*html .modal_img_fixed{
	_position: absolute !important;
	/*top: expression(document.compatMode=="CSS1Compat"? document.documentElement.scrollTop+200+"px" : body.scrollTop+200+"px") !important;*/}

#footer{background:url(../img_index/background/footer.png) 0 0 repeat-x #114019;margin:20px 0 0 0;width:100%;}
#footerIn{background:url(../img_index/background/footer.png) 0 0 repeat-x #114019;width:880px;margin:auto;}
#footerIn,
#footermolde{position: relative; z-index: 1; }
.creci{ color:#C9C5C3; right:40px; top: 38px; position:absolute; z-index:1; font-size:11px;}
#footercenter{background:url(../img/bgr_rodape_center.jpg) 0 20px no-repeat;color:#F1EDEA;font-size:9px;margin:0 auto;min-height:115px;_height:115px;padding:55px 0 0 0;text-align:center;}
#footercenter p,
#footercenter a{color:#F1EDEA;font-size:9px;margin:5px 0 0 0;}
#footer #footermolde{width:880px;height:115px;float:left;}



.tit01{display:block;text-align:center;padding:10px 0;}
.listStyle01{display:block;padding:0px;margin:0px;}
.listStyle01 li{background:url(../img/bgr_listStyle01.png) 0 7px no-repeat;_background:url(../img/bgr_listStyle01.gif) 0 7px no-repeat;padding:0 0 0 15px;margin:0 0 3px 0;}

.juriCol01{width:300px;float:left;margin:0 17px 0 0;}
.juriCol01 h2{background-color:#113F19;display:block;text-indent:12px;height:19px;padding:7px 0 3px 0;font-size:15px;color:#FFFFFF;font-weight:bold;}
.box_direitoimobi{padding:20px 0 0 10px;}


.juriCol02{width:248px;float:left;}
.box_advogados{margin:0 0 15px 0;background-color:#113F19;color:#FFFFFF;padding:0 0 10px 0;}
.box_advogados ul{margin:0 0 0 15px;}
.box_advogados ul li{margin:0 0 15px 0;}
.box_causas{background-color:#113F19;color:#FFFFFF;padding:0 0 10px 0;}
.box_causas ul{margin:0 0 0 15px;font-size:11px;}


.hide-desktop { display:none !important; }

.home_info span { float:left; width:100%; margin-bottom:5px; font-size:14px; }
.home_info span.valor { margin-top:5px; font-size:18px; font-weight:700; }

#facebox{
	display: none;
	max-width: 100vw;
    overflow: auto;
    z-index: 10;
}

@keyframes fade{
	from { opacity: 0; transform: translateX(120%); }
	to { opacity: 1; transform: translateX(0); }
}

#facebox.active{
	display: block;
    position: absolute;
    bottom: 120%;
    right: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    -webkit-animation: fade 500ms;
    -o-animation: fade 500ms;
    animation: fade 500ms;
}

#facebutton{
	position: fixed;
	bottom: 10px;
	right: 10px;
	background: white;
	border: 1px solid lightgray;
	padding: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    z-index: 10;
}