.hide-desktop { display:none !important; }
.hide-desktop2 { display:none !important; }

@media(max-width: 667px){

    hr { width:100% !important; }

    .hide-desktop { display:block !important; }
    .hide-mobile { display:none !important; }

    .inner{ width:100%; /*display:block;*/ }

	.auto, .content {
		width: 100%;
	}

	body{
		background: #ffffff;
		font-family: 'Roboto';
	}
	.content{
		line-height: 100%;
		margin:0;
		padding: 0;
	}
	.menuMob{
		width: 100%;
		height:126px;
		float: left;
		position: relative;
		margin-bottom: 40px;
		z-index: 99;
		float:left;

	}
	.menuMob:after{
		position: absolute;
		top: 0px;
		height: 14px;
		width: 100%;
		background-color: #003C1E;
		content: '';
	}
	.menuMob:before{
		height: 60px;
		width: 100%;
		content: '';
		position:absolute;
		top: 14px;
		background-color: #EB7924;
	}
	.menuMob img{
		position: absolute;
		left: 6%;
	}
	.menuMob span{
		position: absolute;
		height: 6px;
		width: 63px;
		
		right: 6%;
		background-color: #ffffff;
		
		border-radius:2px; 
		-moz-border-radius:2px; 
		-webkit-border-radius:2px;
		top: 40px;
		cursor: pointer;
	}
	.menuMob span:before,
	.menuMob span:after{
		content: '';
		position: absolute;
		height: 6px;
		width: 63px;
		left: 0;

		background-color: #ffffff;
		cursor: pointer;
		border-radius:2px; 
		-moz-border-radius:2px; 
		-webkit-border-radius:2px;
		

	}
	.menuMob span:after{
		top: -15px;
	}
	.menuMob span:before{
		bottom: -15px;
	
	}
	.menuMob .menu{
		transition: all 0.3s;
	    min-height: 0px;
	    width: 210px;
	    padding: 15px 0px;
	    background-color: #003C1E;
	    position: absolute;
	    top: 74px;
	    right: 5%;
	    opacity: 0;
	    pointer-events:none;
	   }
	.menuMob .menu.active{
		opacity: 1;
		min-height: 253px;
		pointer-events:all;
	}
	.menuMob .menu li{
		float: left;
		min-height: 28px;
		width: 100%;
		text-align: center;
		margin-top: 9px;
		font-weight: 400;
		font-family: 'Roboto';
		font-size: 15px;
		color: #ffffff;
		text-transform: uppercase;
		position: relative;
	}
	.menuMob .menu li:after{
		position: absolute;
		content: '';
		width: 181px;
		margin:0 15px;
		height: 1px;
		background-color: #EB7924;
		left: 0;
		bottom: 0;
	}
 	.menuMob .menu li:last-child:after{
 		height: 0;
 	}
 	.menuMob .menu li ul{
 		opacity: 0;
 		height: 0;
 		background-color: #EB7924;
 		width: 181px;
 		margin:0 15px;
 		transition:all 0.3s;
 		position: relative;
 		display: none;
 		margin-top: 10px;
 	}
 	.menuMob .menu li ul.active{
 		min-height: 34px;
 		opacity: 1;
		display: block;
 	}
 	.menuMob .menu li ul li{
 		text-transform: none;

 	}
	.menuMob .menu li ul li:after{
		position: absolute;
		content: '';
		width: 100%;
		margin:0 0px;
		height: 1px;
		background-color: #717171;
		left: 0;
		bottom: 0;
	}
	.menuMob .menu li ul li:last-child:after{
 		background-color: transparent;
 	}



	/*CONTATO*/

	.centro636{
		width: 100%!important;
		position: relative;
		height: 500px;
	}
	.bordLaranja{
		border:0px;
		padding: 0;
		margin:0;
		font-family: 'Roboto';
		font-size: 25px;
		font-weight: 700;
		padding-bottom: 14px;
		text-transform: uppercase;
		position: relative;
		float: left;
	    width: 100%;
	    text-align: center;
	    line-height: 130%;

	}
	.bordLaranja:after{
		position: absolute;
	    content: '';
	    width: 90%;
	    height: 3px;
	    background-color: #eb7924;
	    bottom: -10px;
	    left: 5%;
	    text-align: center;
	}



	.centro636 form{
		position: absolute;
		top:72px;
	    width: calc(100% - 40px);
    	margin: 0 20px;
    	height: 400px;
	}
	.centro636 form td{
	padding: 0px;
	height: 40px;
	vertical-align: middle;
	margin-bottom: 15px;
	}
	.centro636 form td textarea{
		width: 100%!important;
		resize:none;
	}
	.centro636 form table{
		width: 100%;
	}
	.centro636 form tr td:first-child{
		text-align: left;
	}
	.centro636 form tr td:last-child{
		float: right;
		width: 100%;
	}
	.centro636 form tr td label{
		font-size: 15px;
		text-transform: uppercase;
		font-family: 'Roboto';
		font-weight: 400;
		line-height: 130%;
	}
	.centro636 form tr td input{
		width: 100%!important;
		height: 40px;
	}
	.centro636 form tr td input[type="submit"]{
		background-color: #003C1E;
		width: 50%;
		height: 60px;

	}

	
	.centro636 form .botao{
		width: 50%;
		position: absolute;
		bottom: 60px;
		float: left;
		height: 60px;
		background-color: #003C1E;
		color: #ffffff;
		text-transform: uppercase;
		text-align: center;
    	right: 0;
    	border: 0;
    	border-radius: 5px;
    	cursor: pointer;
    	font-family: 'Roboto';
    	font-size: 18px;
    	font-weight: 700;
	}
	.centro636 form p{
		position: absolute;
		bottom: 0px;
		margin: 0;
		font-family: 'Roboto';
	    line-height: 125%;
	    text-align: center;	
	    color: #153f17;


	}

	/*HISTORICO*/
	.just{
		float: left;
		width: calc(100% - 40px);
		margin: 0 20px;
		line-height: 130%;
		margin-top: 30px;

	}
	.centro636 h2{
		width: 100%;
	}
	.centro636 h2 p{
		/*width: 100%;*/
		font-family: 'Roboto';
		font-size: 25px;
		color: #003c1e;
		font-weight: 700;
		text-align: left;
	}
	.centro636 h2 p:nth-of-type(1){
		margin-left:10%;
	}
	.centro636 h2 p:nth-of-type(2){
		margin-left:20%;
	}
	.centro636 h2 p:nth-of-type(3){
		margin-left:30%;
	}
	.just p{
		font-family: 'Roboto';
		font-weight: 700;
		font-size: 13px;
		line-height: 140%;
		margin: 0 0 20px 0;
		word-break: break-word;
	}
	
	/*JURIDICO*/
	.centro636 .adv{
		width: 100%;
	   	padding: 0!important;
	    margin-top: 20px;
	    float: left;
	}
	.centro636 .adv .img_adv{
		width: calc(100% - 20px);
		margin: 0 10px;
		height: 200px;
	}

	.juriCol01{
		width: calc(100% - 60px);
		margin: 10px 30px 0px;

	}
	.juriCol01 .box_direitoimobi{
		padding: 0;
	}
	.juriCol01 .box_direitoimobi h3{
		font-size: 16px;
		font-weight: 500;
		font-family: 'Roboto';
		text-align: left;
		width: 100%;
		margin-bottom: 15px;
		color: #003c1e;
		text-transform: uppercase;
	}
	.juriCol01 .box_direitoimobi ul{
		width: 95%;
		float: right;
		margin: 0px 0px 30px 0px!important;
	}
	.juriCol01 .box_direitoimobi ul li{
		list-style-type: disc;
		background: url('');
		
		padding: 0;
		margin: 0px 0px 5px 0px;
		color: #3c3a3a;
		font-size: 13px;
		
	}
	.juriCol01 .box_direitoimobi .adv_p{
		color: #3c3a3a;
		font-family: 'Roboto';
		font-weight:700;
		font-size: 13px;
		margin: 0px 0px 30px 0px;
		line-height: 130%;
		text-align: justify; 
	}
	.juriCol02{
		width: 100%;
	}
	.juriCol02 .box_advogados,
	.juriCol02 .box_causas{
		width: 100%;
		float: left;
		height: 190px;

	}
	.juriCol02 .box_advogados .tit01,
	.juriCol02 .box_causas .tit01{
		font-family: 'Roboto';
		font-size: 25px;
		text-align: center;
		width: 100%;
		font-weight: 700;
		color: #ffffff;
		margin-top: 20px;
		text-transform: uppercase;
	}
	.juriCol02 .box_advogados p{
		font-family: 'Roboto';
		font-weight: 700;
		color: #ffffff;
		font-size: 13px;
		width: calc(100% - 40px);
		margin:15px 20px 0px;

	}
	.juriCol02 .box_advogados p:nth-of-type(3){
		margin-top: 30px;
	}
	.juriCol02 .box_advogados p:nth-of-type(3),
	.juriCol02 .box_advogados p:nth-of-type(4){
		text-align: center;
		font-weight: 400;
	}
	.box_causas ul{
		width: calc(100% - 80px);
		margin:10px 40px 0px 40px;
	}
	.box_causas ul li{
		list-style-type: disc;
		background: url('');
		font-size: 13px;
		font-family: 'Roboto';
		font-weight: 700;
		padding: 0;
		margin:0px 0px 5px 0px;
		
	}

	/*CURRICULO*/
	.centro636 form .file{
		width: 50%!important;
	}
	.centro636 .formato_doc{
		position: absolute;
	    bottom: 0px;
	    margin: 0;
	    font-family: 'Roboto';
	    line-height: 125%;
	    text-align: center;
	    color: #153f17;
	}
	.centro636 .form_curriculo{
		height: 500px;
		top: 180px;
	}
	.centro_curri{
		height: 700px;
	}
	
	.p_curriculo{
		
	    font-family: 'Roboto';
	    line-height: 125%;
	    text-align: center;
	    color: #153f17;
	    float: left;
	    margin: 10px 15px 0px 15px; 
	    width: calc(100% -30px);

    }
    .p_curriculo:nth-of-type(1){
    	margin-top: 30px;

    }

    /*SERVIÇOS*/
    .texto_servicos{
    	width: 100%;
    	height: 400px;
    	font-family: 'Roboto';
    	font-size: 13px;
    	float: left;
    }
     .texto_servicos .inner{
     	width: calc(100% - 40px);
     	margin:0 20px;
     	float: left;
     }
     .texto_servicos p{
     	font-weight: 700;
     	color: #3c3a3a;
     	line-height: 130%;

     }

     .texto_servicos .ultimo{
     	width: 100%;
     	text-align: center;
     	background-color: #003C1E;
     	color: #ffffff;
     	margin-top: 15px;
     	height: 30px;
     	font-weight: 400;
     	padding-top: 13px;
     }
     .texto_servicos img{
     	margin:0 auto;
     	width: 100%;
     }


	/*DOCS*/

	.logoLista{
		float: left;
		margin-top: 30px;
	}
	.logoLista li{
		line-height: 140%;
		margin-top: 10px;
	}


	/*AVALIAÇÃO IMOVEL*/
	.tabela_aval{
		margin-top: 40px;
	}

	.tabela_aval .under{
		font-weight: 700;
		text-decoration: none;
		font-size: 16px;
	}
	.tabela_aval .dados_prop{
		margin:60px 0px 50px 0px;
		line-height: 140%;
	}
	.tela_aval{
		height: 950px;
	}
	.tabela_aval label{
		line-height: 140%;
	}
	.tela_aval .botao{
		bottom: 0!important;
	}
	.tela_aval form{
		height: 850px;
	}

	/*GARANTIAS*/
	.tela_garantias{
		height: 300px;
	}

	/*CONDOMINIOS*/
	.tela_condominios{
		height: 800px;
	}
	.tela_condominios h4{
	 width: 100%;
	 line-height: 130%;
	 text-align: center;
	 float: left;
	 margin-top: 20px;
	}


	/*PROPOSTA ADM*/
	
	.proposta_adm{
		height: 1200px;
	}
	.proposta_adm form{
		height: 1050px;
		margin-top: 100px;
	}
	.proposta_adm form .linha_gestao {
		height: 210px;
		margin-top: 10px;
	}
	.proposta_adm form .linha_gestao td{
		vertical-align: top;

	}
	.proposta_adm form  .bt_sindico{
		position: relative;
    	top: -25px;
	}

	.proposta_adm form .linha_adm1{
		width: 100%;
	    float: left;
	    height: 150px;
	}
	.proposta_adm form .linha_adm1 td{
		width: 100%;
	    float: left;
	    height: 120px;
	}
	.proposta_adm form .linha_adm1 input[type="radio"]{
	/*	width: 50%!important;
		float: right;*/
	}
	.proposta_adm form .linha_adm1 label{
		    position: relative;
    		top: -25px;
	}


	/*	BUSCA*/
	.cont_busca{
		height: 670px;

	}
	.cont_busca form{
		height: 420px;
		margin-top: 50px;
	}
	.centro636 form tr td select{
		width: 100%!important;
   		height: 40px;
	}

	.cont_busca h5{
		position: absolute;
    	bottom: 0;
    	height: 75px;
    	font-family: 'Roboto';
    	font-weight: 700;
    	padding: 25px 5px 0px 5px;
    	font-size: 13px;
    	line-height: 140%;
    	text-align: center;


	}
	.cont_busca .botao{
		width: 47%!important;
		
		right: auto!important;

	}
	.cont_busca .botao1{
		right: 0!important;
		padding-top: 25px!important;
    	height: 35px!important;
	}

	/*PESQUISA*/
	
	.cont_pesquisa{
		min-height: 300px;
	}

	.cont_pesquisa .box_resultado{
		background-color: #003C1E;
	    width: calc(100% - 20px);
	    height: 200px;
	    padding: 10px 10px 0px 10px;
	    float: left;
	}
	.cont_pesquisa .box_resultado:nth-of-type(1){
		margin-top: 50px;
	
	}
	.cont_pesquisa .box_resultado:nth-last-of-type(1){
		margin-bottom: 30px;
		
		height: 210px;
	}
	.cont_pesquisa .box_resultado .foto{
		float: left;
		width: 50%;
	}

	.cont_pesquisa .box_resultado .foto img{
		width: 100%;
		float: left;
		height: 200px;
	}
	.cont_pesquisa .box_resultado .info{
		width: calc(48% - 10px);
		float: right;
		margin-bottom: 10px;
		height: 190px;
		background-color: #ffffff;
		padding: 10px 0px 0px 10px;
		position: relative;

	}

	.cont_pesquisa .box_resultado .info p{
		font-family: 'Roboto';
		color: #003c1e;
		font-size: 13px;
		font-weight: 700;
		float: left;
		width: 100%;
		margin: 0 0 10px 0;
	}
	.cont_pesquisa .box_resultado .info p span{
		font-weight: 400;
	}
	.cont_pesquisa .box_resultado .info a{
		width: calc(100% - 40px);
		margin: 0 20px;
	    height: 22px;
	    background-color: #EB7924;
	    color: #ffffff;
	    text-transform: uppercase;
	    text-align: center;
	    position: absolute;
	    right: 0;
	    float: left;
	    bottom: 10px;
	    font-size: 15px;
	    padding-top: 8px;
	    font-weight: 700;
	    letter-spacing: 1px;
   		border-radius:5px; 
		-moz-border-radius:5px; 
		-webkit-border-radius:5px;

	}


	/*MODAL*/
		.menu a{color:#FFFFFF;text-decoration:none;}
	a{outline:0}


	.modal_img_fixed {position:fixed !important;}
	*html .modal_img_fixed{
		_position: absolute !important;
	/*top: expression(document.compatMode=="CSS1Compat"? document.documentElement.scrollTop+200+"px" : body.scrollTop+200+"px") !important;*/}
	.mask{background:/*url(../img/loading.gif) center center no-repeat */#000000;position:absolute;top:0px;left:0px;z-index:25; background-image:url('');_background-image:url('');}
	.modal_galeria{width:100%;height:500px;padding:0 0 0 0px;margin:0 0 0 0px;display:none;position:fixed!important;top:30px;left:0;z-index:999; top: 0!important; background-image:url('');_background-image:url('');}
	.modal_galeria2{width:100%;height:500px;padding:0 0px 0 0px;display:block; background-image:url('');_background-image:url('');}
	.modal_galeria3{width:100%;height:500px;background: #ffffff}
	.fechar{width:calc(100% - 140px);height:32px; margin-top: 50px;  padding-top: 8px; text-align: center; background-color: #003C1E; color: #fff; margin: 0 auto;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; position: absolute; margin: 0 70px; bottom: 0;}
	.fechar a{color:#FFFFFF;text-decoration:none; text-transform: uppercase; width: 100%; text-align: center; margin: 0; float: none; font-size:18px;font-weight:700;font-family:'Roboto'; }
	.box_imgzoom{margin:15px auto 0 auto;width:100%;height:530px;background:url(../imagens/logo_modal.gif) 0 0 no-repeat;}
	.box_imgzoom2{border-bottom:0px solid #114019;margin:0 auto;width:90%;height:370px;padding:0px;}
	.div_recebeimg{width:100%;margin:0 auto;}
	.div_recebeimg p{color:#ffffff;font-size:13px;font-family:'Roboto';padding:0 0 0 0; margin:0;}
	.div_recebeimg img{max-width: 90%; height: auto;  margin-top: 120px; max-height: 250px;}
	.div_recebeimg .topo_verde{background-color: #003C1E; width:calc(101% - 60px); position: absolute; left: -1%; height: 70px; font-weight: 400;  font-size: 13px; text-align: left; color: #ffffff; padding: 15px 30px;}
	.div_recebeimg .topo_verde .valor{position:absolute; bottom: 15px; 	}
	.div_recebeimg .topo_verde .valor span{font-weight: 700;}
	.btn_setas{background-image:url(../imagens/btn_setas.gif);background-repeat:no-repeat;height:31px;width:26px;position:absolute;top:180px;display:block;text-indent:-9999px;}
	.btn_seta_esq{background-position:0 0;left:31px;}
	.btn_seta_dir{background-position:100% 0;right:31px;}
	.btn_seta_esq:hover{background-position:0 100%;}
	.btn_seta_dir:hover{background-position:100% 100%;}
	.recebe_img{background:url(../imagens/84.gif) center center no-repeat;height:315px;margin:0 auto;}
	.recebe_img .pos_img{ max-width: 90%; }
	.stepcarousel{}
	.stepcarousel .belt{position:relative;width:80%;margin:20px auto 0 auto;}
	.stepcarousel .belt .leftbutton{background:url(../img_responsa/leftbutton.png) 0 0 no-repeat;height:47px;width:30px; position:absolute;display:block;text-indent:-9999px;top:0px;left:-34px;}
	.stepcarousel .belt .rightbutton{background:url(../img_responsa/rightbutton.png) 0 0 no-repeat;height:47px;width:30px;position:absolute;display:block;text-indent:-9999px;top:0px;right:-34px;}
	.stepcarousel .panel{display:none;}
	.stepcarousel div.atual{display:block;}
	.stepcarousel .panel a{float:left;margin:0 2px;width:60px;text-align:center;}
	.stepcarousel .panel img{border:1px solid #B6B6B6; width:55px!important; height: 37px!important;}
	a.opac{filter:alpha(opacity=40);opacity:0.4;}
	



	/*HOME*/
	.realize{
		width: 100%;
		text-align: center;
		font-size: 25px;
		font-family: 'Roboto';
		color: #003c1e;
		font-weight: 700;
		text-transform: uppercase;
		float: left;
		height: 30px;
		margin: 20px 0px;
	}
	#slider, #slider #sliderHome, #slider #sliderHome li{
		width: 100%;
		height: auto;
		float: left;
	}
	#slider #sliderHome li img{
		width: 100%;
		height: 100%;
	}
	.boxbusca{
		/*width: calc(100% - 60px);*/
		width: 100%;
		margin: 0 auto;
		height: 380px;
		float: left;
	}
	#formBuscaVenda, #formBuscaAluguel{
		position: relative;
		margin: 0 auto;
		padding: 0;
		left:0px;
		top: 70px;
		width: 80%;
		
		background: url('') transparent;
		height: 295px;
	}
	#formBuscaVenda fieldset, #formBuscaAluguel fieldset{
		width: calc(100% - 20px)!important;
		position: absolute;
    	top: 0px;
        background-color: #F78802;
        height: 270px;
        padding: 25px 10px 0px 10px;
   		
	}
	#formBuscaVenda .inputText, #formBuscaAluguel .inputText{
		width: 66%;
	}
	#formBuscaVenda .select a, #formBuscaAluguel .select a{
		width: 66%!important;
	}
	.botoes_mobile{
		width: 80%;
		position: relative;
		margin: 0 auto;
	}





	 .vendas, .alugueis,
	  .vendas,  .alugueis{
	 	width: 50%;
	 	height: 70px;
	 	/*background-color: #EB7924;*/
		background: url('') #EB7924;
	 	border-top-left-radius:15px; 
		-moz-border-top-left-radius:15px; 
		-webkit-border-top-left-radius:15px;
		border-top-right-radius:15px; 
		-moz-border-top-right-radius:15px; 
		-webkit-border-top-right-radius:15px;
		transition:all 0.3s;
		font-family: 'Roboto';
		font-size: 20px;
		color: #ffffff;
		font-weight: 700;
		text-transform: uppercase;
	 }
	 
	  .vendas.active,  .alugueis.active{
	 	background-color: #F78802;
	 }


	 .vendas, .vendas{
	 	 	left: 0;
	 	 	top: 0;
	 }
	 .alugueis, .alugueis{
	 	left: 50%;
	 	top: 0;
	 }
	#formBuscaVenda label, #formBuscaAluguel label{
		font-family: 'Roboto';
		font-weight: 400;
		text-transform: uppercase;
		font-size: 14px;
	}
	
	#formBuscaVenda .inputSubmit, #formBuscaAluguel .inputSubmit{
		width: 100%;
		background:url('') #003C1E;
		color: #ffffff;
		height: 40px;
		font-family: 'Roboto';
		font-weight: 700;
		font-size: 18px;
		text-align: center;
		border-radius:5px; 
		-moz-border-radius:5px; 
		-webkit-border-radius:5px;
		margin: 20px 0px 0px 0px;
		padding: 0;
		/*position: absolute;
		top: 245px;*/
	}
	
	.grid{
		width: 100%;
		margin:0; 
	}
	.chamadaVendas{
		width: 48%;
		text-align:center;
		padding: 0;
		margin: 0 auto;
		background: url(../img_responsa/index_vendas.png) no-repeat right 3px transparent;
		color: #EB7924;
		border:0;
	}
	#sliderVendas, #sliderAlugueis{
		width: 100%;
		margin-top: 20px;
		/*height: 250px;*/
	}
    #sliderVendasHome, #sliderAlugueisHome, #sliderVendasHome li, #sliderAlugueisHome li{
    	width: 100%;
    	float: left;
    	overflow: inherit;
    	height: 100%;
    }
    #sliderVendasHome li .boxImg{
    	width: 100%!important;
    	height: 100%;
    }

    #sliderVendasHome li .boxImg .img_imv{
		background-size: cover;
		margin-right:10px;	
		width: 100%;
		height: 100%;
		background-position: 0px -30px;
	}


    #sliderVendasHome li .boxImg img{
	width: 100%;
	height: 100%;
	margin:-30px 0px 0px 0px!important;
	border:0;
		     }

     #sliderVendasHome li .boxImg a{
     	width: 100%;
     	height: 100%;
     	padding: 0;
     }
    #sliderVendasHome li .home_info{
		width: calc(100% - 60px)!important;
		height: 120px;
		background-color: #FA8E15;
		text-align: justify;
		color: #ffffff;
		font-family: 'Roboto';
		font-size: 12px;
		padding: 10px 30px 0px 30px;
		position: absolute;
		bottom: 0px;

    }
    #sliderVendasHome li .home_info p{
    	float: left;
    	bottom: 0px;
    	margin: 0;
    	color: #ffffff;
    	font-family: 'Roboto';
    	font-size: 12px;
    	font-weight: 400;
    	margin-top: 5px;
    }
    #sliderVendasHome li .home_info span{
    	font-weight: 700;
    	font-family: 'Roboto';
    	font-size: 13px;
    }
    .prev-vendas, .next-vendas{
   
    	top: 0px;
	    width: 34px;
	    height: 47px;
	    bottom: 30px;
	    margin: auto 0;

    }
    .prev-vendas{
    	left: 10px;
    	right: 0;
    	background: url(../img_responsa/leftbutton_b.png);
    }
    .next-vendas{
    	right: 10px;
    	background: url(../img_responsa/rightbutton_b.png);
    }

	.chamadaAlugueis{
		width: 48%;
		text-align:center;
		padding: 0;
		margin: 0 auto;
		background: url(../img_responsa/index_alugueis.png) no-repeat right 3px transparent;
		color: #003c1e;
		border:0;
	}

  
    #sliderAlugueisHome li .boxImg{
    	width: 100%!important;
    	height: 100%;
    }
	#sliderAlugueisHome li .boxImg .img_imv{
		background-size: cover;
		margin-right:10px;	
		width: 100%;
		height: 100%;
		background-position: 0px -30px;
	}

    
    #sliderAlugueisHome li .boxImg img{
	width: 100%;
	height: 100%;
	margin:-30px 0px 0px 0px!important;
	border:0;
	
     }
     #sliderAlugueisHome li .boxImg a{
     	width: 100%;
     	height: 100%;
     	padding: 0;
     }
    #sliderAlugueisHome li .home_info{
		width: calc(100% - 60px)!important;
		height: 120px;
		background-color: #003C1E;
		text-align: justify;
		color: #ffffff;
		font-family: 'Roboto';
		font-size: 12px;
		padding: 10px 30px 0px 30px;
		position: absolute;
		bottom: 0px;
    }
    #sliderAlugueisHome li .home_info p{
    	float: left;
    	bottom: 0px;
    	margin: 0;
    	color: #ffffff;
    	font-family: 'Roboto';
    	font-size: 12px;
    	font-weight: 400;
    	margin-top: 5px;
    }
    #sliderAlugueisHome li .home_info span{
    	font-weight: 700;
    	font-family: 'Roboto';
    	font-size: 13px;
    }
	.prev-alugueis{
    	left: 10px;
    	right: 0;
    	background: url(../img_responsa/leftbutton_b.png);
    }
    .next-alugueis{
    	right: 10px;
    	background: url(../img_responsa/rightbutton_b.png);
    }
	.prev-alugueis, .next-alugueis{
    	top: 0px;
	    width: 34px;
	    height: 47px;
	    bottom: 30px;
	    margin: auto 0;

    }
	
	.fr{
		margin-right:15px; 
	}
	.gridWrapper{
		width: 100%;
		background: url('');
		padding: 0px;
		height: 780px;
		margin-top: 20px;	
	}
	.gridWrapperBoxes{
		background: url('');
	    
	    padding: 0;
	    width: calc(100% - 30px);
	    position: relative;
	    margin: 0 15px 20px;
	    height: 240px;
	    -webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    4px 4px 10px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         4px 4px 10px 0px rgba(50, 50, 50, 0.75);

	}
	.gridWrapperBoxes .chamadasInternas{
		font-family: 'Roboto';
		font-size: 25px;
		color: #fa8e15;
		text-transform: uppercase;
		margin: 10px 0px 0px 14px;
		font-weight: 700;
		position: relative;
		border-bottom: 0px;
	}
	.gridWrapperBoxes .chamadasInternas:after{
		content: '';
	    width: calc(100% - 0px);
	    height: 1px;
	    background-color: #D8D8D8;
	    position: absolute;
	    bottom: -5px;
	    left: -10px;
	}
	.gridWrapperBoxes span{
		font-family: 'Roboto';
		font-weight: 700;
		font-size: 15px;
		width: calc(100% - 40px );
		margin: 10px 20px 0px;
		line-height: 130%;
		padding: 0;
		color: #838382;
	}
	
	.gridWrapperBoxes .btn_laranja{
		width: calc(100% - 40px);	
		margin: 0 20px;
		height: 28px;
		padding: 0;
		background-color: #FA8E15;
		color: #ffffff;
		text-transform: uppercase;
		font-weight: 700;
		font-family: 'Roboto';
		font-size: 18px;
		position: absolute;
		bottom: 20px;
		border-radius:5px; 
		-moz-border-radius:5px; 
		-webkit-border-radius:5px;
		text-align: center;
		padding-top: 8px;
	}
	.gridWrapperBoxes form{
		width: calc(100% - 50px);
		margin: 0 25px;

	}
	#formNews label{
		width: 22%;
		color: #838382;
		font-weight: 500;
		font-family: 'Roboto';
		font-size: 16px;
		margin: 10px 0 0 0;
	}
	#formNews .inputText{
		width: 68%;
	    margin: 10px 0 0 0;
	    float: right;
	}
	#formNews .inputSubmit{
		position: absolute;
		bottom: 10px;
		background:url('') #FA8E15;
		width: calc(100% - 40px);
   		margin: 0 20px;
   		left: 0;
   		border-radius:5px; 
		-moz-border-radius:5px; 
		-webkit-border-radius:5px;
		color: #ffffff;

	}

	    
	/*FOOTER*/
	

	.footer{
		 height: 398px;
		 background: url(../img_responsa/fundo_footer.jpg) repeat-x center top;
		 margin-top:  70px;

	}
	.footerMob{
		width: 100%;
		float: left;
		height: 433px;
		position: relative;
	}
	.footerMob h3{
		color: #ffffff;
		width: 100%;
		text-align: center;
		margin-top: 20px;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 15px;
	}
	.footerMob h3:nth-of-type(2){
		margin-top: 30px;
	}
	.footerMob p{
		color: #ffffff;
		width: 100%;
		text-align: center;
		font-size: 15px;
		margin-bottom: 20px;
		font-family: 'Roboto';
	}
	.footerMob p img{
		margin-right: 20px;
		margin-bottom: -10px;
	}
	.footerMob p:nth-of-type(3){
		margin-top: 15px;
	}
	.footer .box_fb{
		width: 77%;
		margin: 0 auto;
		height: 130px;
		
	}
	.footer .faixa_footerMob{
		height: 35px;
		width: 100%;
		background-color: #003C1E;
		position: absolute;
		bottom: 0px;
	}
	.footer .faixa_footerMob p{
		margin-top: 5px;
		font-size: 12px;
		margin-right: 0;
	}
	.footer .faixa_footerMob a{
		color: #fff;
	}
	.footer .faixa_footerMob a:hover{
		color: #FA8709;
	}



}