@charset "utf-8";
/* CSS Document */
body { background:url(../img_index/background/background.png) repeat-x; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#5d5d5e; }
* { padding:0; margin:0; }

/* CSS Index Corpo do site*/
#container { width:100%;  height:481px; float:left; background:url(../img_index/background/back_moldes.png) no-repeat; background-position:top center; }

/* CSS Index Centralizar site*/
#center { width:880px;  margin:0 auto; }


/* CSS Index Conteudo do site*/
#content { position: absolute; width:880px; height:281px; margin:0 auto; top: 200px; z-index: 1; }
#contentcenter { width:880px;  margin:0 auto; }
#content #contentmolde { width:880px; height:281px; float:left; }


/* CSS Index Menu do site*/
#sidebar { position: absolute; width:880px; height:290px; margin:0 auto; top: 0px; z-index: 2; }


/* CSS Index topicos do site*/
#topicos{width:100%;height:291px;float:left;background:url(../img_index/background/topicos.png) repeat-x;}
#topicoscenter{width:880px;margin:0 auto;background:url(../img_index/background/topicos.png) repeat-x;}
#topicos #topicosmolde { width:880px; height:291px; float:left; }


/* CSS Index footer do site*/
#footer{width:100%;min-height:115px;_height:115px;float:left;background:url(../img_index/background/footer.png) repeat-x;}
#footercenter{width:880px;margin:0 auto;background:url(../img_index/background/footer.png) repeat-x;}
#footer #footermolde{width:880px;min-height:115px;_height:115px;float:left;background:url(../img_index/background/footer.png) repeat-x;}





/* --------------------- Divs do Site ------------------- */



/* CSS Index content*/
#content #contentmolde #contentmoldespace { width:880px; height:25px; float:left; }
#content #contentmolde #contentmoldeanimacao { width:600px; height:256px; float:left; }
#content #contentmolde #contentmoldeatributos { width:280px; height:256px; float:left; margin:0px 0px 0px 0px; }
#content #contentmolde #contentmoldeatributos #contentmoldeatributoschamada { width:225px; height:43px; float:left; margin:5px 0px 0px 0px; padding:0px 0px 0px 55px;  }
#content #contentmolde #contentmoldeatributos .contentmoldeatributoslogo1 { width:68px; height:75px; float:left; margin:0px 0px 0px 0px; padding:0px 0px 0px 22px;}
#content #contentmolde #contentmoldeatributos .contentmoldeatributoslogo2 { width:140px; height:75px; float:left; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;}

#content #contentmolde #contentmoldeatributos .contentmoldeatributosclima { width:217px; height:102px; float:left; margin:10px 0px 0px 0px; padding:0px 0px 0px 56px; }




/* CSS Index topicos alugueis*/
#topicos #topicosmolde .topicosmoldechamadasalugueis { width:270px; height:291px; float:left; background:url(../img_index/topicos/alugueis.png) no-repeat; }
#topicos #topicosmolde .topicosmoldechamadasalugueis .topicosmoldechamadasalugueischamada { width:160px; height:40px; float:left;  margin:40px 0px 0px 0px; padding:0px 50px 0px 60px;  }
#topicos #topicosmolde .topicosmoldechamadasalugueis .topicosmoldechamadasalugueisbutton { width:270px; height:110px; float:left; }
#topicos #topicosmolde .topicosmoldechamadasalugueis .topicosmoldechamadasalugueisbutton .topicosmoldechamadasalugueisbuttontop { width:270px; height:38px; float:left; }
#topicos #topicosmolde .topicosmoldechamadasalugueis .topicosmoldechamadasalugueisbutton .topicosmoldechamadasalugueisbuttonleft { width:122px; height:30px; float:left;}
#topicos #topicosmolde .topicosmoldechamadasalugueis .topicosmoldechamadasalugueisbutton .topicosmoldechamadasalugueisbuttonlink { width:120px; height:30px; float:left;}
#topicos #topicosmolde .topicosmoldechamadasalugueis .topicosmoldechamadasalugueistext { width:190px; height:80px; float:left;  padding:0px 35px 0px 45px;  }





/* CSS Index topicos vendas*/
#topicos #topicosmolde .topicosmoldechamadasvendas { width:270px; height:291px; float:left; background:url(../img_index/topicos/compra.png) no-repeat; }
#topicos #topicosmolde .topicosmoldechamadasvendas .topicosmoldechamadasvendaschamada { width:160px; height:40px; float:left; margin:40px 0px 0px 0px; padding:0px 50px 0px 60px; }
#topicos #topicosmolde .topicosmoldechamadasvendas .topicosmoldechamadasvendasbutton { width:270px; height:110px; float:left; }
#topicos #topicosmolde .topicosmoldechamadasvendas .topicosmoldechamadasvendasbutton .topicosmoldechamadasvendasbuttonspacetop { width:270px; height:38px; float:left; }
#topicos #topicosmolde .topicosmoldechamadasvendas .topicosmoldechamadasvendasbutton .topicosmoldechamadasvendasbuttonspaceleft { width:122px; height:30px; float:left; }
#topicos #topicosmolde .topicosmoldechamadasvendas .topicosmoldechamadasvendasbutton .topicosmoldechamadasvendasbuttonspacelink { width:120px; height:30px; float:left; }
#topicos #topicosmolde .topicosmoldechamadasvendas .topicosmoldechamadasvendastext { width:190px; height:80px; float:left; padding:0px 35px 0px 45px; }





/* CSS Index topicos news*/
#topicos #topicosmolde .topicosmoldenewsletter { width:340px; height:291px; float:left; background:url(../img_index/topicos/newsletter.png) no-repeat; }
#topicos #topicosmolde .topicosmoldenewsletter .topicosmoldenewsletterchamada { width:220px; height:40px; float:left; margin:40px 0px 0px 0px; padding:0px 50px 0px 70px; }
#topicos #topicosmolde .topicosmoldenewsletter .topicosmoldenewsletterform { width:220px; height:110px; float:left; padding:0px 60px 0px 60px; }
#topicos #topicosmolde .topicosmoldenewsletter .topicosmoldenewsletterform .topicosmoldenewsletterformverifica { width:220px; float:left; display:none; font-size:10px;color:#0a2e0f; }

#topicos #topicosmolde .topicosmoldenewsletter .topicosmoldenewslettertext { width:240px; height:80px; float:left; padding:0px 50px 0px 50px; }



/* CSS Index footer*/
#footer #footermolde #footermoldesombra { width:880px; height:35px; float:left; }
#footer #footermolde #footermoldecreditos { width:880px; height:65px; float:left; margin:15px 0px 0px 0px; }
#footer #footermolde{position:relative;z-index: 1;}
.creci{ color:#C9C5C3; right:40px; top: 17px; position:absolute; z-index:1; font-size:11px;}


/* CSS Index textos*/
p.textcontent { font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#5d5d5e; margin:0px 0px 15px 0px; }
p.texttopicos { font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#f1edea; text-align:center; margin:0px 0px 0px 0px; }
p.textcreditos { font-family:Arial, Helvetica, sans-serif; font-size:9px; color:#f1edea; text-align:center; margin:3px 0px 0px 0px; }


/* CSS Links das Paginas*/
a:link { text-decoration: none; color:#f1edea;  font-size:10px;}
a:visited { text-decoration: none; color:#f1edea; font-size:10px; }


/* CSS Form index*/
form { width:220px; font-family:Arial, Helvetica, sans-serif; font-size:11px; float:left; margin:16px 0px 0px 0px; }
input, textarea, select { font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#0b2e0f; border:solid 1px #f4451e; margin:0px 0px 0px 0px; background:url(../img_index/form/back_form.png) repeat-x; } 

a,img{outline:0;}