@charset "utf-8";
/* CSS Document */
/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
 caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

a, button {outline: none !important;}

html {
  line-height: 1;
}


ol, ul {
  list-style: none;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}


caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}


q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}


a img {
  border: none;
}
a {text-decoration: none;}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}
*/

.displayNone {display:none !important;}
.displayBlock {display:block !important;}

/*===================selects css*/
/* Selectmenu
----------------------------------*/
/* line 3, ../sass/selects.scss */
.ui-selectmenu {
  display: block;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  overflow: hidden;
  zoom: 1;
}

/* line 4, ../sass/selects.scss */
.ui-selectmenu-icon {
  position: absolute;
  right: 6px;
  margin-top: -8px;
  top: 50%;
}

/* line 5, ../sass/selects.scss */
.ui-selectmenu-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  display: none;
  z-index: 1005;
}

/* z-index: 1005 to make selectmenu work with dialog */
/* line 6, ../sass/selects.scss */
.ui-selectmenu-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 7, ../sass/selects.scss */
.ui-selectmenu-open {
  display: block;
}

/* line 8, ../sass/selects.scss */
.ui-selectmenu-menu-popup {
  margin-top: -1px;
}

/*.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-top: 1px dotted transparent; border-bottom: 1px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; } */
/* line 10, ../sass/selects.scss */
.ui-selectmenu-menu li a, .ui-selectmenu-status {
  line-height: 1.4em;
  display: block;
  /*padding: .405em 2.1em .405em 1em;*/
  outline: none;
  text-decoration: none;
}

/* line 11, ../sass/selects.scss */
.ui-selectmenu-menu li.ui-state-disabled a, .ui-state-disabled {
  cursor: default;
}

/* line 13, ../sass/selects.scss */
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status {
  padding-left: 20px;
  position: relative;
  margin-left: 5px;
}

/* line 14, ../sass/selects.scss */
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon {
  position: absolute;
  top: 1em;
  margin-top: -8px;
  left: 0;
}

/* line 15, ../sass/selects.scss */
.ui-selectmenu-status {
  line-height: 1.4em;
}

/* line 16, ../sass/selects.scss */
.ui-selectmenu-menu li span, .ui-selectmenu-status span {
  display: block;
  margin-bottom: .2em;
}

/* line 17, ../sass/selects.scss */
.ui-selectmenu-menu li .ui-selectmenu-item-header {
  font-weight: bold;
}

/* line 18, ../sass/selects.scss */
.ui-selectmenu-menu li .ui-selectmenu-item-footer {
  opacity: .8;
}

/* for optgroups */
/* line 20, ../sass/selects.scss */
.ui-selectmenu-menu .ui-selectmenu-group {
  font-size: 1em;
}

/* line 21, ../sass/selects.scss */
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label {
  line-height: 1.4em;
  display: block;
  padding: .6em .5em 0;
  font-weight: bold;
}

/* line 22, ../sass/selects.scss */
.ui-selectmenu-menu .ui-selectmenu-group ul {
  margin: 0;
  padding: 0;
}

/* IE6 workaround (dotted transparent borders) */
/* line 24, ../sass/selects.scss */
* html .ui-selectmenu-menu li {
  border-color: pink;
  filter: chroma(color=pink);
  width: 100%;
}

/* line 25, ../sass/selects.scss */
* html .ui-selectmenu-menu li a {
  position: relative;
}

/* IE7 workaround (opacity disabled) */
/* line 27, ../sass/selects.scss */
* + html .ui-state-disabled, * + html .ui-state-disabled a {
  color: silver;
}

.ui-selectmenu-menu {
  padding: 0 7px;
}

#cmb_tipo, #cmb_valor, #cmb_bairro, #cmb_dormit_venda, #cmb_tipo_venda, #cmb_valor_venda, #cmb_bairro_venda {
  background: #fff;
  border: 1px solid #d8d8d8;
}
#cmb_tipo li a, #cmb_valor li a, #cmb_bairro li a, #cmb_dormit_venda li a, #cmb_tipo_venda li a, #cmb_valor_venda li a, #cmb_bairro_venda li a {
  padding: 10px 10px 15px 10px;
  height: 7px;
}

.ui-state-hover {
  background: #666;
}
.ui-state-hover a {
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.09);
}



.select a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  height: 20px;
  height: 20px;
  padding: 8px 5px;
  margin: 10px 0 0;
  background: url(../img_index/background/bgr-seta.png) no-repeat right center white;
  font-family: "Arial";
  font-size: 13px;
  color:#333;
}

.ui-widget-content {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.ui-widget {
  background: #fff;
}
/* line 55, ../sass/_selects.scss */
.ui-widget li {
  height: 20px;
  padding: 5px;
}
.ui-widget li a {
  font-size: 15px;
  font-family: "Arial";
  font-size: 12px;
  color:#333;
}

#cmb_tipo-button, #cmb_valor-button, #cmb_bairro-button, #cmb_tipo-menu, #cmb_valor-menu, #cmb_bairro-menu  {
  width: 198px !important;
}



body { background:url(../img_index/background/bgr-body.jpg) repeat-x center top; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#5d5d5e; position: relative;}
* { padding:0; margin:0; }
.fl {float: left;}
.fr {float: right;}
.clr {clear: both;}
.fix:after {
	content:".";
	display: block;
	clear: both;
	height:"0px";
	visibility: hidden;
}



@font-face {
    font-family: 'swissBold';
    src: url('../fonts/tt0010m-webfont.eot');
    src: url('../fonts/tt0010m-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tt0010m-webfont.woff') format('woff'),
         url('../fonts/tt0010m-webfont.ttf') format('truetype'),
         url('../fonts/tt0010m-webfont.svg#avantgarde_bk_btbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'swissLeve';
    src: url('../fonts/tt0009m-webfont.eot');
    src: url('../fonts/tt0009m-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tt0009m-webfont.woff') format('woff'),
         url('../fonts/tt0009m-webfont.ttf') format('truetype'),
         url('../fonts/tt0009m-webfont.svg#avantgarde_bk_btbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
.error {
  border:2px solid rgba(255,0,0,0.3) !important; 
  -webkit-transition: border 0.4s linear;
  -moz-transition: border 0.4s linear;
  -ms-transition: border 0.4s linear;
  -o-transition: border 0.4s linear;
  transition: border 0.4s linear;
}
.cabecalho {padding:0 0 15px 0;position:relative;z-index: 12;}

.auto {
	width: 1000px;
	margin:0 auto;
}

.logoTopo {margin:20px 0 0 20px;}
#mainMenu {
	margin:25px 0 85px 55px;
  position:relative;
  z-index: 10;
}

#mainMenu li {
	margin:0 7px;
  position:relative;
  z-index: 6;
}

#mainMenu .separador {
	background: url(../img_index/background/sep-main-menu.png) no-repeat right center transparent;width: 2px;height: 17px;
}

#mainMenu li a {
	font-family: "swissBold";
	font-size: 20px;
	color:#0D472D;
}


#mainMenu .subMenu {
  display:none;
  position:absolute;
  top:23px;
  left:-40px;
  text-align: center;
}

#mainMenuFooter .subMenu {
  bottom:18px !important;
  display:none;
  position:absolute;
  
  left:-40px;
  text-align: center;
}

.subMenuAlugueis {
  width: 155px;
  left:-40px !important;
}

.subMenuVendas {
  width: 155px;
}

.subMenuCond {
  left:-25px !important;
  width: 155px;
}

.subMenu li {
  width: 100%;
  box-shadow: 1px 2px 2px -1px #333333;
  display: block;
  margin:0 0 1px !important;
}

.subMenu li a {
  background: #EE7C00;   
  display: block;
  font-family: "swissLeve" !important;
  font-size: 15px !important;
  padding:5px 10px ;
  color:#fff !important;
}

.subMenu li a:hover {
  background: #0D472D;
}

.btn-fb {
	background: url(../img_index/background/btn-fb.png);width: 57px;height: 32px;display: block;margin: 20px 30px 0 0;
}

#slider {
  overflow: hidden;
  position: relative;
  z-index: 6;
}

#sliderHome {
  position: relative;
  z-index: 5;
}

#slider, #slider #sliderHome, #slider #sliderHome li {
  width: 695px;height: 316px;
}

.png-bgr-prev, .png-bgr-next  {position:absolute;top:0px;z-index: 6; width:28px;height: 29px;border:none;background: url(../img_index/background/bgr-paginator.png);cursor: pointer;}
.png-bgr-next {right:10px;background-position:-31px 0px;}
.png-bgr-prev {right:40px;background-position:0 0px;}

.boxbusca {
  position: relative;
  z-index: 7;
   width:300px;
}


.buscaActive, .vendas, .alugueis {
  background: url(../img_index/background/png-link-busca.png) no-repeat right 0;width: 149px;height: 39px;font-family: "swissLeve";color:#fff;font-size: 17px;cursor: pointer;text-shadow:0 1px 0 rgba(0,0,0,0.6);
  padding:6px 0 0 0;
}
.buscaActive {
  background-position: 0px 0 !important;padding:0 !important;font-size: 19px;
  /*-webkit-transition: background-position 0.9s linear;
  -moz-transition: background-position 0.9s linear;
  -ms-transition: background-position 0.9s linear;
  -o-transition: background-position 0.9s linear;
  transition: background-position 0.9s linear;*/

}

.vendas, .alugueis {
  border: none;
  position: absolute;
  top:-46px;  
}

.vendas {
  left:2px;
}

.alugueis {
  left:153px;
}

.png-buscar {
  width: 138px;
  height: 33px;
}

#formBuscaVenda, #formBuscaAluguel {
  background: url(../img_index/background/bgr-form.png) no-repeat left top;
  padding:80px 0 0 35px;
  width:297px;
  height: 270px;
  position: absolute;
  left: -20px;
  top:-15px;
}

#formBuscaVenda fieldset, #formBuscaAluguel fieldset  {
  width: 280px;
  margin 0 auto;
}

#formBuscaVenda label, #formBuscaAluguel label {
  color: #fff;
  margin: 16px 10px 10px 0;
  font-size: 16px;
  font-family: "swissLeve";
}

#formBuscaVenda .inputSubmit, #formBuscaAluguel .inputSubmit {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  font-family: "swissLeve";
  font-size: 19px;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 10px 0 0;
  padding: 8px 0;
  text-align: center;
  background: url(../img_index/background/bgr-input.png) no-repeat;
  width: 134px;
}

#formBuscaVenda .inputText, #formBuscaAluguel .inputText {
    border: medium none;    
    color: #333333;
    font-family: "arial";
    font-size: 12px;
    margin: 7px 0 0;
    padding: 10px 6px;
    width: 196px; 
    border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;
}

.inputSubmitHover {
  background-position:0 -41px !important; 
}

#cmb_tipo, #cmb_valor, #cmb_bairro {
  width: 196px;margin:0 10px 0 0;
}

 #cmb_tipo_venda, #cmb_valor_venda, #cmb_bairro_venda {
  width: 198px;margin:0 10px 0 0;
 }

#cmb_dormit {
  width: 180px;
}


.grid {
  width: 436px;
  margin:60px 10px 0 20px;
}

.marginGrid {
  margin:60px 0 0 88px;
}

.chamadaVendas, .chamadaAlugueis {
  font-family: "swissBold";  
  padding:0 0 6px 42px;
  border-bottom:1px solid #e9e9e9;
  font-size: 26px;
}
.chamadaVendas {
  color:#EE7C00;
  background:url(../img_index/background/bgr-icon-vendas.png) no-repeat left 3px transparent;
}

.chamadaAlugueis {
  color:#0E482E;
  background:url(../img_index/background/bgr-icon-aluguel.png)no-repeat left 0px transparent;
}

#sliderVendas , #sliderAlugueis {
  margin:10px 0 0 ;
  position: relative;
  z-index: 6;
  width:460px;
}

#sliderVendasHome, #sliderVendasHome li,  #sliderAlugueisHome li {width: 455px;height: 200px;}

.boxImg {
  width: 210px;
}

.boxImg img {
  border:1px solid #0E482E;
  width: 203px;
  height:154px;
}
.boxImg a {
  font-family:"Tahoma";
  font-size: 12px;
  color:#666;
  padding:5px 0 0 0;
}

.prev-vendas, .next-vendas  {position:absolute;top:-43px;z-index: 6; width:28px;height: 29px;border:none;background: url(../img_index/background/bgr-paginator.png);cursor: pointer;}
.next-vendas {right:26px;background-position:-31px 0px;}
.prev-vendas {right:55px;background-position:0 0px;}

.prev-alugueis, .next-alugueis  {position:absolute;top:-43px;z-index: 6; width:30px;height: 29px;border:none;background: url(../img_index/background/bgr-paginator.png);cursor: pointer;}
.next-alugueis {right:26px;background-position:-91px 0px;}
.prev-alugueis {right:57px;background-position:-60px 0px;}

.gridWrapper {
  background: url(../img_index/background/bgr-gradient-wrapper.jpg) no-repeat center top;
  height:272px;
  width: 975px;
  padding:22px 10px 0 20px;
}

.gridWrapperBoxes {
  width: 275px;
  height: 212px;
  background: url(../img_index/background/bgr-wrapper-bxes.png) no-repeat left top;
  padding:20px 30px 0 20px;
}

.gridWrapperBoxes span {
  font-family: "Tahoma";
  padding:7px 0 10px;
}

.chamadasInternas {
  font-family: "swissBold";  
  border-bottom:1px solid #e9e9e9;
  font-size: 26px;
  color:#ED7B00;
}

.coligadas {
  display: block;
  margin:0 auto;
}

#formNews label {
   font-family: "swissLeve";  
  font-size: 15px;
  color:#333;
  width: 48px;
  margin:13px 0 0 0;
}

#formNews .inputText {
  font-family: "arial";  
  font-size: 12px;
  color:#333;
  width: 172px;
  padding: 5px 5px;
  border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;
  border:2px solid rgba(204,204,204,0.5);
  margin:7px 0 0 0;
}

#formNews .inputSubmit {
  background:url(../img_index/background/ok.png) no-repeat center center;border:none;width: 37px;height: 35px;margin:4px 0 0 4px;cursor:pointer;
}

.aguarde {display:none;font-style: italic;font-size: 11px;font-family: "Arial";}
.boxRetorno {
  position: fixed;
  z-index: 10;
  bottom:-135px;
  left:50%;
  margin-left:-150px;
  height: 10px;
  width: 300px;
  background: rgba(35,140,0,0.8);
  border:1px solid #238C00;
  text-align: center;
  color:#333;
  text-shadow:0 1px 0 rgba(255,255,255,0.5);
  padding:30px;
  font-size: 16px;
  font-family: "swissBold";
}

  .boxErro {background: rgba(255,0,0,0.9);border:1px solid red;}

  .footer {
    width: 100%;
    background: url(../img_index/background/bgr-footer.jpg) repeat-x center top;
    height: 186px;
  }

  .boxMenuFooter {
    width: 955px;
    margin:40px auto 10px;
    background: url(../img_index/background/bgr-menu-footer.png) no-repeat center bottom transparent;
    height:60px;
  }

  #mainMenuFooter {
     width: 690px;
  margin:0 auto;
  position:relative;
}

#mainMenuFooter li {
  margin:0 7px;
  position: relative;
}

#mainMenuFooter .separador {
  background: url(../img_index/background/sep-main-menu-footer.png) no-repeat right center transparent;width: 2px;height: 17px;
}

#mainMenuFooter li a {
  font-family: "swissBold";
  font-size: 16px;
  color:#fff;
}

.lojasFooter {
  color:#fff;
  font-family: "Tahoma";
  font-size: 12px;
  margin: 0 70px 0 50px;
}

.comparte {
  margin:20px 20px 0 0;
}