@import "compass/reset";

*,*:before,*:after{
    box-sizing: border-box;
}
::-webkit-input-placeholder { color: rgb(77, 77, 77) }
::-moz-placeholder { color: rgb(77, 77, 77) } /* firefox 19+ */
:-ms-input-placeholder { color: rgb(77, 77, 77) } /* ie */
input:-moz-placeholder { color: rgb(77, 77, 77) }
html,
body{
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    height: 100vh;
    width: 100%;
}
img#logo{
    position: absolute;
    bottom: 2vh;
    right: 20px;
}
main#main ~ img#logo{
    bottom: 10vh;
    right: 50px;
}
.bg-login{
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-image: url(../../images/bg-login.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}
main{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(45, 45, 45, 0.9);
    border-radius: 5px;
    border: 3px solid rgb(77, 77, 77);
    transform: scale(0);
    z-index: 99999;
    backface-visibility: hidden;
    overflow: hidden;
}
main#login{
    width: 380px;
    height: 375px;

    header{
        padding: 30px 10%;
        h1{
            color: #dedede;
            font-size: 25px;
            font-weight: 300;
        }
        img{
            display: block;
            width: 50px;
            height: 50px;
            position: absolute;
            right: 10px;
            top: 0;
        }
    }
    input, .button-submit{
        display: block;
        margin: 20px auto;
    }
    input{
        width: 80%;
        border: none;
        padding: 10px 0;
        background-color: #dedede;
        border-radius: 3px;
        text-indent: 15px;
        font-size: 18px;
        color: #242424;
    }
    span{
        margin: 0 10%;
        float: left;
    }
    .button-submit{
        width: 200px;
        background-color: #1E824C;
        border-radius: 5px;
        border: #ededed solid 3px;
        margin: 50px auto;
        cursor: pointer;
        transition: all .2s ease-in, width .1s linear;
        &:hover{
            background-color: darken(#1E824C, 5%);
        }
        h4{
            line-height: 40px;
            text-align: center;
            pointer-events: none;
            color: #efefef;
            font-size: 20px;
        }
    }
}
main#main{
    width: 92%;
    height: 90vh;
    box-sizing: content-box;
    min-height: 450px;
    min-width: 1090px;

    aside,section{height: 90vh; min-height: 450px}

    aside{
        min-width: 200px;
        max-width: 400px;
        width: 20%;
        margin: 0;
        background: rgba(32, 32, 32, 0.8);
        z-index: 99;

        header{
            height: 10vh;
            min-height: 50px;
            form{
                padding: 20px;

                .container{
                    background-color: white;
                    border-radius: 50px;
                    overflow: hidden;
                    display: table;
                    width: 100%;
                    padding: 1px;
                    white-space: nowrap;

                    div{
                        vertical-align: middle;
                        display: table-cell;
                        height: 100%;

                        &:first-child{
                            width: 88%;

                        }
                        &:last-child{
                            width: 12%;
                            min-width: 25px;
                        }
                    }
                }
                input,img{height: 100%;}
                input{
                    border-radius: 50px;
                    width: 100%;
                    border: none !important;
                    outline: none !important;
                    font-size: 1.05em;
                }
                img{
                    float: right;
                    pointer-events: none;
                    z-index: 2;
                }
            }
        }


        nav{height: 80vh; min-height: 400px}
        ul{padding: 0; height: 100%}
        li{
            list-style: none;
            display: block;
            min-height: 1em;
            padding: 10px 20px;
            color: white;
            cursor: pointer;
        }
    }
    section{
        position: absolute;
        right: 0;
        width: 80%;
        top: 0;
        min-width: 800px;

        header{
            height: 5vh;
            width: 100%;
            .username{
                float: left;
                font-size: 25px;
                font-weight: 600;
                color: white;
                line-height: 45px;
                padding: 0 20px;
            }
            ul{
                float: right;
                li{
                    float: left;
                    margin: 10px;

                    &:nth-child(1){transform: scale(1.8)}
                    img{
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                }
            }
        }

        [ng-view]{position: relative}
        .wrapper{
            padding-top: 20px;
            display: block;
            position: relative;

            .msg{
                height: 81.5vh;
                position: relative;
                .container{
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    margin: auto;
                    height: 100px;
                    width: 200px;
                    transform: scale(2);
                }
                h3,h4{
                    text-align: center;
                    display: block;
                }
                h3{color: #1E824C;}
                h4{color: dimgray}
            }

            ul{
                width: 100%;
                overflow: auto;
                height: 81.5vh;
            }

            li{
                & > div{
                    padding: 10px;
                    display: inline-block;
                    vertical-align: middle;
                    white-space: nowrap;
                    &:first-child{
                        width: 85%;
                    }
                    &:last-child{
                        width: 15%;
                        right: 0px;
                        position: absolute;
                        top: 0;
                    }
                }

                border-bottom: 1px solid #999;
                width: 100%;
                position: relative;
                display: list-item;
                background-color: #fff;
                padding: 10px;
                box-sizing: padding-box;
                .btn{
                    float: right;
                    display: inline-block;
                    min-width: 100px;
                    background-color: #1E824C;
                    border-radius: 5px;
                    border: #ededed solid 3px;
                    margin: 10px auto;
                    cursor: pointer;
                    transition: all .2s ease-in, width .1s linear;
                    &:hover{
                        background-color: darken(#1E824C, 5%);
                    }
                    h4{
                        line-height: 22px;
                        text-align: center;
                        pointer-events: none;
                        color: #efefef;
                        font-size: 16px;
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}
@media(max-width: 480px){
    main{
        height: 100% !important;
        width: 100% !important;
        border: none;
        border-radius: 0;
        min-width: 0 !important;
        min-height: 375px !important;
        transform: scale(1) !important;
    }
    main#main{
        aside{
            position: absolute;
            height: 100vh;

            transform: translateX(-100%);
            transition: transform .2s ease-in-out;
            &.active{
                transform: translateX(0);
            }
        }
        section{
            width: 100% !important;
            min-width: 0 !important;

            header{
                .username{
                    font-size: 13px;
                }

                > img{
                    background: rgba(45,45,45,0.8);
                    display: block !important;
                    float: left;
                    transform: scale(0.8);
                    margin: 2px;
                    z-index: 100;
                    transition: transform .2s ease-in-out;
                    cursor: pointer;
                    &.active{
                        transform: translateX(200px) scale(0.8);
                    }
                }
            }
            .wrapper li{
                position: relative;

                & > div:first-child{
                    white-space: normal;
                    width: calc(100% - 120px);
                    font-size: 8px;
                }
                & > div:last-child{
                    width: 120px;
                    bottom: 0;
                    margin: auto;
                    .btn{
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        height: 28px;
                        margin: auto;
                    }
                }
            }
        }
    }
}