
@mixin center($pos){
    @if $pos == static{
    
        margin: 0 auto;
        display: block;
    }
    @else{
        position: $pos;
        right: 50%;
        top: 0;
        left: 50%;
        bottom: 0;
    }

}