@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

html,body{
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    background-color: $white;
}
*{
    font-family: "Roboto", "Verdana", sans-serif;
    color: $black;
}
.clear-fix{
    clear: both;
}
a{
    text-decoration: none;
}
a:visited{
    color: inherit;
    text-decoration: none;
}
input:focus{
    outline: inherit;
}
//****************************************************************************************************//
//                                        HEADER                                                      //
//****************************************************************************************************//


header#bg-top{
    height: 683px; 
    display: block;
    overflow: hidden;
    position: absolute;
    width: 100%;

    .wrapper{
        height: 110px;
        background-color: $white;
        border-bottom: $red 2px solid;
    }
    .img-bg{
        width: 100%;
        height: 600px;
        position: relative;
        transition: all .2s .4s;

        &.small{
            height: 150px !important;
            overflow: hidden;
        }
        &.big{
            height: 600px;
        }

        .opacity-bg,img{
            height: 600px;
        }

        .opacity-bg{
            display: block;
            background-color: rgba(0,0,0,0.5);
            position: absolute;
            width: 100%;
            top: 0;
        }

        img{
            min-width: 1920px;
            width: 100%;
            filter: blur(5px);
            object-fit: cover;
            object-position: center;
        }
    }
}


header#main{
    @include center(relative);
    width: 1270px;
    margin: 0 #{-(1270px / 2)};
    background: $white;

    height: 140px;
    width: 1270px;

    #top{
        background-color: $white;

        .logo{
            height: 50px;
            margin: 15px 0;
            float: left;

            img{
                width: 150px;
                height: 50px;
            }
        }

    }

    #nav-top{
        background: $red;
        overflow: hidden;

        nav{
            display: table;
            margin: 0 auto;

            ul {
                display: table;

                li{
                    display: table-cell;
                    a{
                        position: relative;
                        display: block;
                        padding: 21px;
                        font: 400 18px/18px "Roboto";
                        transition: all 0.1s linear;
                        color: $white;
                        transform: translateZ(0px);
                        background: $red;

                        &:before{
                            content: "";
                            position: absolute;
                            top: 100%;
                            height: 5px;
                            bottom: 0px;
                            margin-top: -5px;
                            left: 0px;
                            right: 0px;
                            z-index: -1;
                            background: darken($red, 20%);
                            transform: scaleX(0);
                            transform-origin: 50% 50% 0px;
                            transition-property: transform;
                            transition-duration: 0.3s;
                            transition-timing-function: ease-out;
                        }
                        &:hover{
                            color: $white;
                        }
                        &:hover::before{
                            z-index: 0;
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }
}
.search-div{
    margin: 25px 0;
    width: 250px;
    height: 28px;
    border: #e0e0e0 1px solid;
    float: right;

    form{
        display: flex;

        input[type='search']{
            height: 20px;
            padding: 4px 10px;
            width: 200px - 20px;
            border: 0;
            color: rgba(0, 0, 0, 0.5);
            font: 400 14px / 20px "Roboto";
            box-sizing: content-box;
        }
        button{
            width: 50px;
            border: 0;
            background-color: $red;
            height: 30px;
            margin-top: -1.5px;
            cursor: pointer;

            &:hover{
                background-color: darken($red, 10%);
            }

            img{
                margin: 3px 7.5px;
                height: 20px;
                width: 20px;
            }
        }
    }
}
main.inner{
    width: 1270px;
    @include center(relative);
    margin: 0 #{-(1270px / 2)};
    min-height: 400px;
    backface-visibility: hidden;
    perspective: 1000;
    transform: translateZ(0) translate3d(0,0,0);

    //***********************************//
    //               HOME                //
    //***********************************//

    #slider{
        display: block;
        height: 543px;
        width: 100%;
        background: transparentize($white, 0.8);

        figure{
            position: relative;
            overflow: hidden;
            height: 543px;
            display: block;

            img{
                position: absolute;
                display: none;
                width: 1270px;
                height: 543px;
            }

            figcaption{
                position: absolute;
                margin-left: 65px;
                top: 180px;
                left: 0;
                background-color: $red;
                transform: translate(-150%);
                transition: transform 0.2s linear;
                &.active{
                    transform: translate(0);
                }
                color: $white;
                color: #ffffff;
                font: 700 45px / 65px "Roboto";
                max-width: 320px;
            }

            nav{
                div{
                    position: absolute;
                    top: 50%;
                    bottom: 50%;
                    height: 36px;
                    width: 36px;
                    margin: -(36px / 2) 0;
                    background-color: #3c3c3c;
                    transition: background-color .1s linear;
                    cursor: pointer;

                    &:hover{
                        background-color: transparentize(#3c3c3c, 0.2);
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        height: 36px;
                        width: 36px;
                    }
                    &.left::before{
                        background: url(../img/left-arrow.png) center no-repeat;

                    }
                    &.right::before{
                        background:  url(../img/right-arrow.png) center no-repeat;
                    }
                    &.left{
                        left: 0;
                    }

                    &.right{
                        right: 0;
                    }
                }
            }
        }
    }
    ul#categoria{
        margin: 15px 0;
        li{
            font: 400 20px / 20px "Roboto";
            padding: 12px 20px;
            border-bottom: 1px solid darken($white, 5%);
            transition: all 0.1s;
            cursor: pointer;
            &.active, &:hover{
                background-color: $red;
                color: $white;
            }
        }
    }
    .inner{

        padding: 25px 0;

        &#middle-page{
            display: flex;
        }
        .container{

            > .title{
                border-bottom: #c63434 1px solid;

                h3{
                    display: inline-block;
                    border-bottom: 5px solid #c63434;
                    box-sizing: border-box;
                    color: #484848;
                    font: 600 25px / 35px "Roboto";
                    padding: 0 20px;
                }
            }

            ul li{
                width: 100%;
                display: block;
                padding: 15px 0;
                transition: all 0.1s;

                img{
                    width: 180px;
                    height: 80px;
                    background-color: $red;
                    border: none;
                    float: left;
                    margin-right: 10px;
                }

                h4{
                    color: #484848;
                    font: 500 25px / 30px "Roboto";
                }
                h6{
                    font: 500 14px / 17px "Roboto";
                    &.date-caption{
                        color: $red;
                    }
                    &.text-content{
                        clear: both;
                        color: #484848;
                        padding: 5px 0;
                    }
                }  
            }
            ul:not(.no-hover) li{
                &:hover{
                    background-color: darken($white, 2%);
                }
                &:active{
                    background-color: darken($white, 10%);
                    transform: rotateY(10deg);
                }
            }
            &.left{
                width: 821px;
                margin-right: 13px;
                float: left;

                button{
                    float: right;
                }
            }

            &.right{
                width: 423px;
                margin-left: 13px;
                float: right;

                .wrapper{
                    width: 300px;
                    @include center(static);

                    .anuncio{
                        width: 300px;
                        height: 250px;
                        margin: 25px 0;
                        display: block;
                        background: $red;

                        &:first-child{
                            margin-bottom: 50px;
                        }

                        h2{
                            text-transform: uppercase;
                            font: 500 60px / 250px "Roboto";
                            text-align: center;
                            color: $white;
                        }
                    }
                }
            }

            button.btn-red{
                background: $red;
                padding: 5px 10px;
                border: none;
                color: $white;
                font: 500 20px / 20px "Roboto";
                cursor: pointer;

                &:hover{
                    background: darken($red, 20%);
                }

                &[disabled="disabled"]{
                    background-color: $black;
                    color: $white;
                    cursor: auto;
                    pointer-events: none;

                    &:hover{
                        background-color: $black;
                    }
                }
            }
        }
    }
    .inner#sessions{
        display: flex;

        .session{
            width: 423px;
            height: 400px;
            overflow: hidden;
            display: block;
            position: relative;

            .bg-opacity, img{
                position: absolute;
                height: 400px;
                object-fit: cover;
                object-position: center;
            }
            .bg-opacity{
                width: 423px;
                opacity: 0.6;
                transition: opacity 0.4s ease-in-out;
            }
            img{
                filter: blur(2px);
                transition: all 0.2s linear;
            }
            &.session-1 .bg-opacity{
                background: linear-gradient(20deg, #3363b1 12%, #467bd2 50%, #316ac8 88%);
            }
            &.session-1 h3{
                height: 110px;
            }
            &.session-2 .bg-opacity{
                background: linear-gradient(20deg, #a8922e 12%, #d8c25e 50%, #c2a627 88%);
            }
            &.session-3 .bg-opacity{
                background: linear-gradient(20deg, #278b52 12%, #42a06a 50%, #25a35b 88%);
            }
            &:hover .bg-opacity{
                opacity: 0.5;
            }
            &:hover img{
                transform: scale(1.1);
            }

            h3{
                z-index: 4;
                color: #ffffff;
                font: 100 50px / 55px "Roboto";
                text-align: center;

                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                height: 55px;
                max-width: 305px;

                position: absolute;
                margin: auto;

                b{
                    color: $white;
                    font: 500 50px / 55px "Roboto";
                }

            }
        }
    }
    .inner.text{
        h5,h4{
            float: left;
            color: #484848;
            padding: 30px 0;
        }
        h5{
            font: 400 20px / 25px "Roboto";

            &.right{
                float: right;
            }
            &.max-width{
                width: 613px;
            }

            p{
                text-indent: 50px;
            }
        }
        h4{
            font: 400 25px / 27px "Roboto";

            &.max-width{
                width: 529px;
            }
        }
        img{
            float: right;
            width: 686px;
            height: 256px;
            border: 3px solid $red;
            margin: 30px 0;

            &.left{
                float: left;
            }
            &.left, &.top-ajust{
                width: 634px;
                height: 320px;
                border: 6px solid $red;
            }
            &.top-ajust{
                margin-top: -20px;
            }
        }
    }

    .location {
        height: 120px;

        h4{
            font: 400 20px / 120px "Roboto";
            color: $white;

            a.anchor{
                text-transform: capitalize;
                color: #a2a2a2;
                margin-left: 0;
                display: inline-block;
                padding-right: 25px;
                position: relative;
                transition: color 0.2s linear;

                &::after{
                    content: "";
                    background: url(../img/right-arrow.png) no-repeat;
                    height: 20px;
                    width: 10px;
                    position: absolute;
                    right: 7px;
                    top: (120px / 2) - 10px;
                }

                &:hover{
                    color: $white;
                }
            }
        }
    }
}
//**************************************************************//
//                            SOBRE                             //
//**************************************************************//

//**************************************************************//
//                            NOTICIAS                          //
//**************************************************************//

#noticias{
    #middle-page{
        flex-wrap: wrap;
    }
    ul{
        width: 1270px !important;
        li{
            padding-bottom: 22px;
            border-bottom: 1px solid #c9c8c8;
            cursor: pointer;

            &:last-child{
                border-bottom: none;
            }

            h6.text-content{
                clear: none !important;
            }

        }
    }
}
.ctrl-page{
    width: 514px;
    height: 37px;
    display: block;
    margin: 20px auto;

    .btn{
        padding: 11px;
        background-color: $red;
        color: $white;
        font: 500 20px "Roboto";
        display: block;
        border: none;
        transition: transform 0.2s linear;
        transition: background-color 0.1s linear;
        cursor: pointer;

        &:hover{
            background-color: darken($red, 10%);
        }

        &.left{
            float: left;
        }

        &.right{
            float: right;
        }

        &.center{
            margin: 0 auto;
            display: none;
        }
    }
}
//**************************************************************//
//                       NOTICIAS INTERNA                       //
//**************************************************************//

#noticia-interna, #evento-interna{
    .title{
        h1,h4{
            padding: 5px 15px;
        }
        h1{
            color: #484848;
            font: 500 27px / 29px "Roboto";
        }
        h4{
            font: 500 17px / 17px "Roboto";

            &.date-caption{
                color: $red;
            }

            &.text-content{
                color: #484848;
                margin-bottom: 15px;
            }
        }

        .border{
            background-color: #c63434;
            width: 634px;
            height: 5px;
        }

    }
    .text{
        margin: 10px 0;
        img{
            margin: 10px 20px 20px 0;
            float: left;
            width: 633px;
            background-color: $red;
        }

        h4{
            color: #484848;
            font: 400 20px / 22px "Roboto";
            text-align: justify;

            p{
                text-indent: 30px;
                margin: 10px 0;
            }
        }
    }
    .social-links{
        div{
            width: 198px / 2;
            border: none;
            border-radius: 2px;
            height: 24px;
            color: $white;
            background-color: transparent;
            cursor: pointer;
            display: inline;

            img{
                margin: 20px 5px;
            }
        }
    }
}

//**************************************************************//
//                        GUIA DE LOJAS                         //
//**************************************************************//

#guia-de-lojas{
    .inner{ 
        flex-wrap: wrap;

        .container{
            &.left{
                li{
                    padding-bottom: 25px;
                    h6{
                        font-weight: 400;
                        padding: 5px 0;

                        b{
                            font-weight: 500;
                        }
                    }
                    img{
                        height: 120px;
                    }
                }
            }
            &.right{
                .search-div{
                    float: none;
                    display: block;
                    margin: 30px auto 20px;
                    width: 100%;
                    height: 45px;

                    input[type="search"]{
                        height: 37px;
                        width: 350px;
                    }
                    button{
                        width: 60px;
                        height: 47px;
                    }
                }
                .container-tags{
                    width: 265px;
                    text-align: center;
                    padding: 20px 0;
                    margin: 0 auto;

                    a{
                        color: $black;
                        font: 400 18px / 20px "Roboto";

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
//**************************************************************//
//                        LOJA INTERNA                          //
//**************************************************************//
#loja-interna{

    .text{
        margin: 30px 0;
    }
    #slider-carroussel{
        width: 635px;
        height: 542px;
        float: left;
        margin: 0 25px 25px 0;

        .view-container{
            height: 422px;
        }
        .view-thumbnail{
            .container-thumbnail{
                width: 426px;
                margin: 15px 105px;

                div{
                    margin: 0 53px;
                }
            }
        }
    }
    .info-loja{
        margin: 20px 0;
        h4{

            b{
                font-weight: 600;
            }
            font: 400 25px / 29px "Roboto";
            color: $black;

            &.text-container{
                margin: 20px 0;

            }
        }
        p{
            padding: 4px 0;
        }
    }
    img{
        margin: 55px auto;
        display: block;
    }
}
//**************************************************************//
//                           EVENTOS                            //
//**************************************************************//

.flex-container{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    .item{
        width: 400px;
        padding: 0 0 35.5px;
        margin: 0 0 35.5px;
        border-bottom: 1px solid darken($white, 5%);
        transition: all 0.1s linear;
        cursor: pointer;

        &:hover{
            background-color: darken($white, 5%);
        }
        &:active{
            background-color: darken($white, 7%);
            transform: scale(1.05);
        }
        .view-evento{
            width: 400px;
            overflow: hidden;

            img{
                min-width: 400px;
                height: 200px;
            }
        }

        .info-evento{
            margin: 10px;
            width: 380px;
            height: 83px;
            overflow: hidden;

            .date-caption{
                width: 70px;
                height: 83px;
                border-right: 5px $red solid;
                float: left;
                margin-right: 10px;

                h2, h3{
                    display: block;
                    text-align: center;
                }
                h2{
                    font: 500 54px / 54px "Roboto";
                }
                h3{
                    font: 500 34px / 34px "Roboto";
                }
            }

            .info-caption{
                display: inline;
                color: $black;
                h4{
                    font: 500 20px / 22px "Roboto";
                    padding: 2px 0;
                    text-align: justify;
                }
                h6{
                    padding: 2px 0;
                    font: 400 14px / 16px "Roboto";
                    text-align: justify;
                }
            }
        }
    }
}
#eventos{
    .ctrl-page button.left{
        float: left !important;
    }
    .ctrl-page button.center{
        float: none !important;
    }
}
//**************************************************************//
//                           CONTATO                            //
//**************************************************************//
#contato{
    .contato-container{
        display: flex;

        h4{
            padding: 10px 20px;
            font-size: 20px;
            color: $black;
        }
    }
    form{
        width: 850px;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;

        input,textarea{
            border: 1px solid darken($white, 20%);
            color: #747474;
            font: 400 20px / 30px "Roboto";

            &.ng-pristine, &.ng-valid, &.ng-pristine.ng-invalid-required{
                outline: none !important;
            }
            &.ng-invalid, &.ng-invalid-required{
                outline: $red 1px solid;
            }

        }
        input{
            margin: 10px 0;    
            width: 250px;
            height: 38px;
            padding-left: 15px;

        }

        textarea{
            text-indent: 15px;
            width: 100%;
            display: block;
            height: 200px;
            resize: none;
        }
        button{
            margin: 10px 0;
        }
    }
    #maps-contato{
        border: 3px solid $red;
        width: 1270px;
        height: 300px;
        box-sizing: border-box;
        display: block;
    }
}
//**************************************************************//
//                  PUBLICAÇÕES INSTITUCIONAIS                  //
//**************************************************************//

#publicacoes{
    .container, inner{
        width: 1060px;
        margin: 0 auto;
    }
    li{
        clear: both;
        border-bottom: #ddd solid 1px;
        .date-info{
            height: 137px;
            width: 106px;
            background-color: $red;
            float: left;
            margin-right: 15px;
            margin-bottom: 5px;

            *{
                color: $white;
                text-align: center;
            }
            h3{
                margin-top: 10px;
                font: 900 60px / 55px "Roboto";
            }
            h4{
                font: 900 40px / 35px "Roboto";
            }
            h5{
                font: 900 30px / 28px "Roboto";
            }
        }
        a > h4{
            margin-top: 10px;
            color: $black;
            font: 500 27px / 29px "Roboto";
        }
        h6{
            font: 400 18px / 20px "Roboto";
        }
    }
}
//**************************************************************//
//                           BUSCA                              //
//**************************************************************//

#busca{
    .right{
        .link{
            text-align: center;
            margin: 20px auto;
            font-size: 20px;

            &:hover{
                color: $red;
            }
        }
    }
    .inner#middle-page{
        margin: 25px 0;
        padding: 0;
        overflow: hidden;
        position: relative;

        .container.left{
            transition: margin-top .2s ease-in;
        }
    }
}
#pop-up{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    z-index: 999999;


    .overlay{
        background-color: rgba(0,0,0,0.4);
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .center{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 800px;
        height: 500px;
        margin: auto;

        iframe{
            background: #222;
            border: 4px solid $red;    
        }
    }
}
loading{
    position: static;
    margin-top: 120px;
    display: block;
    
    .container{
        width: (15px * 3) * 3;
        white-space: nowrap;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 15px;
        
        .item{
            height: 15px;
            width: 15px;
            border-radius: 100%;
            margin: 0 15px;
            background: $red;
            transition: all .3s linear;
            display: inline-block;
            
            &:nth-child(1){
                animation: bumpItem-1 1.2s ease-in-out infinite;
            }
            &:nth-child(2){
                animation: bumpItem-2 1.2s ease-in-out infinite;
            }
            &:nth-child(3){
                animation: bumpItem-3 1.2s ease-in-out infinite;
            }
        }
    }
}
footer{transition: all .6s linear;}
footer#footer{
    height: 560px;
    width: 100%;
    background-color: $red;
    overflow: hidden;

    .inner{
        @extend main.inner;
        display: flex;
        padding: 45px 0;

        .footer-container{
            width: 33.33333%;

            &.cont-3{
                position: relative;
            }

            h3{
                font: 500 30px / 30px "Roboto";
                color: $white;
                padding: 25px 0;
            }
            ul li{
                color: $white;
                font: 400 20px / 30px "Roboto";

                a{
                    padding: 2px 0;
                    &.active, &:hover{
                        border-bottom: 2px solid $white;
                        box-sizing: border-box;
                    }
                }
            }
            #maps-footer{
                border: 4px solid $white;
                box-sizing: border-box;
                height: 200px;
                width: 423px;
                display: block;
                margin: auto auto 15px;
                margin-top: 30px;
                background-color: $white;
            }
            img{
                &.logo{
                    width: 273px;
                    height: 90px;
                } 
            }
            p{
                color: $white;
                font: 400 18px / 28px "Roboto";
            }
            #fb-footer{
                width: 330px;
                height: 434px;
                position: absolute;
                right: 0;
            }
        }
    }
}
footer#sub-footer{
    height: 40px;
    background-color: #2c2c2c;

    .inner{
        display: block;
        margin: 0 auto;
        width: 1270px;
        h4{
            color: #484848;
            font: 400 16px / 40px "Roboto";
            float: right;

            a{
                color: #484848;
                transition: color 0.2s linear;

                &:hover{
                    color: $red;
                }
            }
        }
    }

}