.corpo {
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
}
.corpo_tabela {
	padding: 25px 3px 3px 3px;
}
.corpo_dentro_tabs {
	padding: 5px 5px 5px 5px;
}
.ver10cinza {
	font-family: "Verdana";
	font-size: 10px;
	color: #666666;
}
.ver10cinzaesc {
	font-family: "Verdana";
	font-size: 10px;
	color: #333333;
}
.ver10cinzaescMenu {
	font-family: "Verdana";
	font-size: 10px;
	color: #FFFFFF;
}
.ver10verdeneg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #668C01;
}
.ver10verdeneg, .ver10verdeneg tr td{
	background-color:#BD2726 !important;
}
.ver10cinzaesc div strong { font-weight:normal !important;}
.txtLogo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	font-weight: bold;
	padding-left:10px;
}
table.bordaVerde .bordaSubtit {
	border: 1px solid #CDCDCD;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #BD2726;
	border: 1px solid #CECECE;
	height: 26px;
	background-image:url(../../layout/img/bgr_menu_cinza.jpg);
	text-align: left;
	padding-left:4px;
}
.bordaSubtit {
	border: 1px solid #CDCDCD;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #668C01;
	border: 1px solid #CECECE;
	height: 26px;
	background-image:url(../../layout/img/bgr_dgrad_cinza.jpg);
	text-align: left;
	padding-left:4px;
}
.bordaSubtitLista {
	border: 1px solid #CDCDCD;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #BD2726;
	border: 1px solid #CECECE;
	height: 26px;
	background-image:url(../../layout/img/bgr_menu_cinza.jpg);
	text-align: left;
}
.barraTit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	border: 1px solid #666666;
	height: 23px;
	background-image:url(../../layout/img/bgr_dgrad_verde.jpg);
	text-align: center;
}
.bordaVerde {
	border: 1px solid #666666;
}
tr.bordaSubtitLista td.bordaDirVer a { color:#BD2726 !important;}
.bordaVerde tr td tr td.bordaVerde a.ver10cinzaesc{
	color:#333333 !important;
	background: none !important;
	}
.bordaVerde tr td tr td.barraTit {
	font-size:10px;
	font-weight:bold;
	}
tr.barraTit td.bordaDirVer {
	border-left: 1px solid #666666;
	}
.bordaDirVer {
	border-right: 1px solid #666666;
	
}
.bordaDirCin {
	border-right: 1px solid #CECECE;
}
.tracoTabMenu {
	background-image:url(../../layout/img/fio_menu.jpg);
	background-repeat: no-repeat;
	background-position : left;
}
.tracoTabMenu tr td.tracoCelMenu{ 
	background-image:url(../../img/bgr_menug.jpg) !important;
	background-repeat: repeat-y;
	color:#FFFFFF;
	font-size:11px;	
	}
.tracoTabMenu tr td.tracoCelMenu .tracoMenuTit a.ver10cinzaesc { 
	font-size:11px; 
	color:#FFFFFF;
	}

.tracoCelMenu {
	background-image:url(../../layout/img/fio_menu.jpg);
	background-repeat: no-repeat;
	background-position : right;
	padding: 0px 16px 0px 16px;
}
.tracoDivMenuOn {
	margin-left:-17px;
	margin-top:-5px;
	border-left:1px solid #303030;
	border-bottom:1px solid #303030;
	border-right:1px solid #303030;
}
.tracoMenuTit {
	background-image:url(../../layout/img/bgr_menu_on.jpg);
	width:1px;
	border-right:1px solid #D4D4D4;
	border-left:1px solid #D4D4D4;
	padding: 5px 15px 5px 16px;
}
.tdSubMenu {
	background-color: #FFFFFF;
	border-bottom:1px solid #CCCCCC;
	padding:0px 18px 0px 18px;
	height:17px;
}
.tracoDivMenuOnTop {
	margin-left:-17px;
	margin-top:-5px;
}
.tracoSubMenu {
	border:1px solid #303030;
}
.tracoCelMenuOn {
	padding: 0px 15px 0px 16px;
}
a:link {
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: underline;
}
