@font-face {
    font-family: 'swiss';
    src: url('fonts/tt0009m_-webfont.eot');
    src: url('fonts/tt0009m_-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tt0009m_-webfont.woff') format('woff'),
         url('fonts/tt0009m_-webfont.ttf') format('truetype'),
         url('fonts/tt0009m_-webfont.svg#avantgarde_bk_btbook') format('svg');
    font-weight: normal;
    font-style: normal;
}


