/*RESET*/
*{margin: 0;padding: 0;}
body{background: #222;}

a{color: #e67e22;}
a:hover{opacity: 0.8;color: #e67e22;}
/*LOGO*/
.logo{width: 100%;text-align: center;margin-top: 50px;float: left;}

/*CONTEÚDO*/
#conteudo{width: 100%;float: left;margin-top: 10px;}

/*SPANS*/
span.info{font-size: 16px;color: #FFF;float: left;width: 100%;text-transform: uppercase;font-weight: bold;margin-top: 20px;}
span.check{color: #e5e5e5;}

/*INPUTS TEXT*/
#assunto, #imagem, #template, #lista, #texto, #escolha_template, #anexo, #formato_imagem{width: 100%;background: #e5e5e5;border: 1px solid #e67e22;padding: 10px 10px;color: #000;}
#texto{height: 150px;}
#assunto:focus, #imagem:focus, #template:focus, #lista:focus, #texto:focus, #escolha_template:focus, #anexo:focus, #formato_imagem:focus{outline: none;}

/*INPUT SUBMIT*/
#enviar{background: #e67e22;float:right;padding: 10px;border: 0;color: #FFF;text-transform: uppercase;font-weight: bold;margin-top: 10px;}
#enviar:hover{opacity: 0.8;}

.view{background: #e67e22;float:right;padding: 10px;border: 0;color: #FFF;text-transform: uppercase;font-weight: bold;margin-top: 10px;margin-right: 10px;cursor: pointer;}
.view:hover{color: #FFF;opacity: 0.8;text-decoration: none;}

.fechar{background: #e67e22;float:right;padding: 10px;border: 0;color: #FFF;text-transform: uppercase;font-weight: bold;margin-top: 10px;margin-right: 10px;cursor: pointer;}
.fechar:hover{color: #FFF;opacity: 0.8;text-decoration: none;}

/*LISTAGEM DE E-MAILS*/
.check-box{
	width: 100%;
	float: left;
	height: 300px;
	background: #111;
	overflow: auto;
	padding: 10px;
	color: #ccc;
}