<HEAD>
<TITLE>FormMail</TITLE>
</HEAD>
<BODY>
<H1>FormMail</H1>
Use this form to send us email.
<P>
<FORM METHOD="POST" ACTION="formmail.cgi">
 Your Name: <INPUT NAME="realname" size=25 ><P>
 Your Email Address: <INPUT NAME="email" size=30 ><P>
Subject: <INPUT NAME="subject" size=30 > <P>
<INPUT NAME="recipient" 
VALUE="oeste253@columbia.digiweb.com.digiweb.com" TYPE="hidden">
<INPUT NAME="required" 
VALUE="recipient,email,realname,subject,message" TYPE="hidden">
<P>Message:<BR>
<TEXTAREA NAME="message" ROWS=10 COLS=60></TEXTAREA> <P>
<INPUT TYPE="submit" VALUE="Submit your message ">  
<INPUT TYPE="reset" VALUE="Reset and clear form">
<P>
</FORM>
</BODY></HTML>
