/* Selectmenu
----------------------------------*/
.ui-selectmenu { display: block; display: inline-block; position: relative; vertical-align: middle; text-decoration: none; overflow: hidden; zoom: 1; }
.ui-selectmenu-icon { position:absolute; right:6px; margin-top:-8px; top: 50%; }
.ui-selectmenu-menu { padding:0; margin:0; position:absolute; top: 0; display: none; z-index: 1005;} /* z-index: 1005 to make selectmenu work with dialog */
.ui-selectmenu-menu  ul { padding:0; margin:0; list-style:none; position: relative; overflow: auto; overflow-y: auto ; overflow-x: hidden; } 
.ui-selectmenu-open { display: block; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
/*.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-top: 1px dotted transparent; border-bottom: 1px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; } */
.ui-selectmenu-menu li a,.ui-selectmenu-status { line-height: 1.4em; display: block; /*padding: .405em 2.1em .405em 1em;*/ outline:none; text-decoration:none; }
.ui-selectmenu-menu li.ui-state-disabled a, .ui-state-disabled { cursor: default; }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { line-height: 1.4em; }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
/* for optgroups */
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display:block; padding: .6em .5em 0; font-weight: bold; }
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }
/* IE6 workaround (dotted transparent borders) */
* html .ui-selectmenu-menu li { border-color: pink; filter:chroma(color=pink); width:100%; }
* html .ui-selectmenu-menu li a { position: relative }
/* IE7 workaround (opacity disabled) */
*+html .ui-state-disabled, *+html .ui-state-disabled a { color: silver; }

.ui-selectmenu-menu {padding:0 7px;}
#cmb_tipo, #cmb_valor, #cmb_bairro, #cmb_dormit  {
	background:#fff;border:1px solid #d8d8d8;
	li {
		a {padding:10px 10px 15px 10px;height: 7px}
	}

}
.ui-state-hover {background:#666;
	a {color:#333;@include text-shadow(0 1px 0 rgba(255, 255, 255, 0.09));}
}
//larguras
#cmb_tipo, #cmb_valor, #cmb_bairro {width: 294px;}
#cmb_dormit {width: 240px;}


.select {
	a {
			@include border-radius(3px);height: 20px;
			height:20px;padding:8px 5px;margin:10px 0 0;background:url(../../img/bgr-seta.png) no-repeat right center #fff;font-family:"Arial";font-size:14px;
	}	
}

.ui-widget-content {border:1px solid rgba(0,0,0,0.05);}
.ui-widget{
	background:#fff;
	li {
		height: 20px;padding:5px;
		a {font-size:15px;font-family:"Arial";font-size:13px;}

	}
}