@import "compass/reset";
@import "compass/css3/";
@import "compass/utilities/general/min";
@import "compass/utilities/general/clearfix";
@import "_font-face";

@import "png/*.png";
@include all-png-sprites;



/*
*==================== variaveis
*/
$fontBook:"swiss";
$fontColor: #3A3939;
$branco:#ffffff;
$corGeral: #333;
$corFraca:#463140;
$corTitulos:#026433;
/*
* =================== genericas
*/
@import "_selects";

.auto {
	width: 985px;
	margin:0 auto;
	position:relative;
	z-index:10;
	@include legacy-pie-clearfix;
}
.fix{
	@include legacy-pie-clearfix;
}
.fl {float:left;}
.fr {float:right;}
.clr {clear:both;}
// .error {border:1px solid #ff0000 !important;}
.total {width:100%;@include min-width(985px);}
.noMargin {margin:0 !important;}
.noPadding {padding:0 !important;}
.fs10 {font-size:10px !important;}
.fs11 {font-size:11px !important;}
.fs13 {font-size:13px !important;}
.fs14 {font-size:14px !important;}
.fs16 {font-size:16px !important;}
.fs26 {font-size:26px !important;}
.fs31 {font-size:31px !important;}
.backgroundNone {background:none !important;}
a {text-decoration:none;color:#333;font-size:11px;}
.png-buscar {width: 138px;
			height: 33px;}
.container{
	width: 810px;
	height: 627px;
	background:url(../../img/fundo-aluguel.jpg) no-repeat 0 0;
	form {font-family:$fontBook;
		width: 370px;
		margin:200px 20px 0 0;
		label {
			color:#fff;margin:16px 10px 10px 0;font-size:19px;
		}
		.inputSubmit {@include text-shadow(0 1px 0 rgba(0,0,0,0.5));font-family:$fontBook;font-size:19px;color:#fff;border:none;cursor:pointer;margin:10px 0 0;padding: 9px 0 0;text-align:center;

		}


	}
}
