/* CSS Document */
/*Aviso do IE6*/
	#mascara {
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		z-index:99999999;
		display:none;
	}

	#aviso_ie6 {
		display:none;
		position:absolute;
		z-index:100000000;
		width:650px;
		height:430px;
		padding:20px;
		background:none repeat scroll 0% 0% rgb(255, 255, 255); 
		border:3px solid #E10915; 
		font-family: "Arial"; 
		font-size: 12px;	
	}
	
	#aviso_ie6 h1 {
		display:block;
		font-size:17px;
		padding:0 0 10px 0;
	}

	#aviso_ie6 p {
		padding:0 0 10px 0;
	}
	
	#aviso_ie6 ul {
		padding:10px 0 0 0;
	}
	
	#aviso_ie6 li {
		background:url(../img/ie6/background_browser.gif) no-repeat;
		width:111px;
		height:122px;
		padding:1px 10px 10px 0;
		float:left;
		text-align:center;
		font-size:10px;
		color:#999;
	}

	#aviso_ie6 li img {
		width:100px;
		height:100px;
		margin:0 0 0 8px;
		display:block;
	}

	#aviso_ie6 li span {
		display:block;
		padding:3px 0 0 0;
	}
	
	#aviso_ie6 .comparte {
		float:left;
		margin:10px 0 0 0;
		width:205px !important;
		height:51px !important;
	}
	
	#aviso_ie6 .texto {
		float:left;
		padding:28px 0 0 9px;
	}
	
	#aviso_ie6 .continuar {
		padding:15px 0 0 0;
		font-weight:bold;
	}

	#aviso_ie6 .continuar a {
		font-size:14px;
	}
/*Aviso do IE6*/	

