/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'swiss';
  src: url("fonts/tt0009m_-webfont.eot");
  src: url("fonts/tt0009m_-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/tt0009m_-webfont.woff") format("woff"), url("fonts/tt0009m_-webfont.ttf") format("truetype"), url("fonts/tt0009m_-webfont.svg#avantgarde_bk_btbook") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 50, png/*.png */
.png-sprite, .png-buscar {
  background: url('../../img/png-s1a903504ee.png') no-repeat;
}

/* line 60, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-buscar {
  background-position: 0 0;
}
/* line 43, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.png-buscar:hover, .png-buscar.buscar_hover, .png-buscar.buscar-hover {
  background-position: 0 -42px;
}

/*
*==================== variaveis
*/
/*
* =================== genericas
*/
/* Selectmenu
----------------------------------*/
/* line 3, ../sass/_selects.scss */
.ui-selectmenu {
  display: block;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  overflow: hidden;
  zoom: 1;
}

/* line 4, ../sass/_selects.scss */
.ui-selectmenu-icon {
  position: absolute;
  right: 6px;
  margin-top: -8px;
  top: 50%;
}

/* line 5, ../sass/_selects.scss */
.ui-selectmenu-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  display: none;
  z-index: 1005;
}

/* z-index: 1005 to make selectmenu work with dialog */
/* line 6, ../sass/_selects.scss */
.ui-selectmenu-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 7, ../sass/_selects.scss */
.ui-selectmenu-open {
  display: block;
}

/* line 8, ../sass/_selects.scss */
.ui-selectmenu-menu-popup {
  margin-top: -1px;
}

/*.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-top: 1px dotted transparent; border-bottom: 1px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; } */
/* line 10, ../sass/_selects.scss */
.ui-selectmenu-menu li a, .ui-selectmenu-status {
  line-height: 1.4em;
  display: block;
  /*padding: .405em 2.1em .405em 1em;*/
  outline: none;
  text-decoration: none;
}

/* line 11, ../sass/_selects.scss */
.ui-selectmenu-menu li.ui-state-disabled a, .ui-state-disabled {
  cursor: default;
}

/* line 13, ../sass/_selects.scss */
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status {
  padding-left: 20px;
  position: relative;
  margin-left: 5px;
}

/* line 14, ../sass/_selects.scss */
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon {
  position: absolute;
  top: 1em;
  margin-top: -8px;
  left: 0;
}

/* line 15, ../sass/_selects.scss */
.ui-selectmenu-status {
  line-height: 1.4em;
}

/* line 16, ../sass/_selects.scss */
.ui-selectmenu-menu li span, .ui-selectmenu-status span {
  display: block;
  margin-bottom: .2em;
}

/* line 17, ../sass/_selects.scss */
.ui-selectmenu-menu li .ui-selectmenu-item-header {
  font-weight: bold;
}

/* line 18, ../sass/_selects.scss */
.ui-selectmenu-menu li .ui-selectmenu-item-footer {
  opacity: .8;
}

/* for optgroups */
/* line 20, ../sass/_selects.scss */
.ui-selectmenu-menu .ui-selectmenu-group {
  font-size: 1em;
}

/* line 21, ../sass/_selects.scss */
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label {
  line-height: 1.4em;
  display: block;
  padding: .6em .5em 0;
  font-weight: bold;
}

/* line 22, ../sass/_selects.scss */
.ui-selectmenu-menu .ui-selectmenu-group ul {
  margin: 0;
  padding: 0;
}

/* IE6 workaround (dotted transparent borders) */
/* line 24, ../sass/_selects.scss */
* html .ui-selectmenu-menu li {
  border-color: pink;
  filter: chroma(color=pink);
  width: 100%;
}

/* line 25, ../sass/_selects.scss */
* html .ui-selectmenu-menu li a {
  position: relative;
}

/* IE7 workaround (opacity disabled) */
/* line 27, ../sass/_selects.scss */
* + html .ui-state-disabled, * + html .ui-state-disabled a {
  color: silver;
}

/* line 29, ../sass/_selects.scss */
.ui-selectmenu-menu {
  padding: 0 7px;
}

/* line 30, ../sass/_selects.scss */
#cmb_tipo, #cmb_valor, #cmb_bairro, #cmb_dormit {
  background: #fff;
  border: 1px solid #d8d8d8;
}
/* line 33, ../sass/_selects.scss */
#cmb_tipo li a, #cmb_valor li a, #cmb_bairro li a, #cmb_dormit li a {
  padding: 10px 10px 15px 10px;
  height: 7px;
}

/* line 37, ../sass/_selects.scss */
.ui-state-hover {
  background: #666;
}
/* line 38, ../sass/_selects.scss */
.ui-state-hover a {
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.09);
}

/* line 41, ../sass/_selects.scss */
#cmb_tipo, #cmb_valor, #cmb_bairro {
  width: 294px;
}

/* line 42, ../sass/_selects.scss */
#cmb_dormit {
  width: 240px;
}

/* line 46, ../sass/_selects.scss */
.select a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  height: 20px;
  height: 20px;
  padding: 8px 5px;
  margin: 10px 0 0;
  background: url(../../img/bgr-seta.png) no-repeat right center white;
  font-family: "Arial";
  font-size: 14px;
}

/* line 52, ../sass/_selects.scss */
.ui-widget-content {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

/* line 53, ../sass/_selects.scss */
.ui-widget {
  background: #fff;
}
/* line 55, ../sass/_selects.scss */
.ui-widget li {
  height: 20px;
  padding: 5px;
}
/* line 57, ../sass/_selects.scss */
.ui-widget li a {
  font-size: 15px;
  font-family: "Arial";
  font-size: 13px;
}

/* line 26, ../sass/screen.scss */
.auto {
  width: 985px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  *zoom: 1;
}
/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.auto:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 33, ../sass/screen.scss */
.fix {
  *zoom: 1;
}
/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.fix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 36, ../sass/screen.scss */
.fl {
  float: left;
}

/* line 37, ../sass/screen.scss */
.fr {
  float: right;
}

/* line 38, ../sass/screen.scss */
.clr {
  clear: both;
}

/* line 40, ../sass/screen.scss */
.total {
  width: 100%;
  min-width: 985px;
  width: auto !important;
  width: 985px;
}

/* line 41, ../sass/screen.scss */
.noMargin {
  margin: 0 !important;
}

/* line 42, ../sass/screen.scss */
.noPadding {
  padding: 0 !important;
}

/* line 43, ../sass/screen.scss */
.fs10 {
  font-size: 10px !important;
}

/* line 44, ../sass/screen.scss */
.fs11 {
  font-size: 11px !important;
}

/* line 45, ../sass/screen.scss */
.fs13 {
  font-size: 13px !important;
}

/* line 46, ../sass/screen.scss */
.fs14 {
  font-size: 14px !important;
}

/* line 47, ../sass/screen.scss */
.fs16 {
  font-size: 16px !important;
}

/* line 48, ../sass/screen.scss */
.fs26 {
  font-size: 26px !important;
}

/* line 49, ../sass/screen.scss */
.fs31 {
  font-size: 31px !important;
}

/* line 50, ../sass/screen.scss */
.backgroundNone {
  background: none !important;
}

/* line 51, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #333;
  font-size: 11px;
}

/* line 52, ../sass/screen.scss */
.png-buscar {
  width: 138px;
  height: 33px;
}

/* line 54, ../sass/screen.scss */
.container {
  width: 810px;
  height: 627px;
  background: url(../../img/fundo.jpg) no-repeat 0 0;
}
/* line 58, ../sass/screen.scss */
.container form {
  font-family: "Arial";
  width: 370px;
  margin: 200px 20px 0 0;
}
/* line 61, ../sass/screen.scss */
.container form label {
  color: #fff;
  margin: 16px 10px 10px 0;
  font-size: 16px;
}
/* line 64, ../sass/screen.scss */
.container form .inputSubmit {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  font-family: #fontBook;
  font-size: 19px;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 10px 0 0;
  padding: 9px 0 0;
  text-align: center;
}
