/* Selectmenu
----------------------------------*/
/* line 3, ../sass/selects.scss */
.ui-selectmenu {
  display: block;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  overflow: hidden;
  zoom: 1;
}

/* line 4, ../sass/selects.scss */
.ui-selectmenu-icon {
  position: absolute;
  right: 6px;
  margin-top: -8px;
  top: 50%;
}

/* line 5, ../sass/selects.scss */
.ui-selectmenu-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  display: none;
  z-index: 1005;
}

/* z-index: 1005 to make selectmenu work with dialog */
/* line 6, ../sass/selects.scss */
.ui-selectmenu-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 7, ../sass/selects.scss */
.ui-selectmenu-open {
  display: block;
}

/* line 8, ../sass/selects.scss */
.ui-selectmenu-menu-popup {
  margin-top: -1px;
}

/*.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-top: 1px dotted transparent; border-bottom: 1px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; } */
/* line 10, ../sass/selects.scss */
.ui-selectmenu-menu li a, .ui-selectmenu-status {
  line-height: 1.4em;
  display: block;
  /*padding: .405em 2.1em .405em 1em;*/
  outline: none;
  text-decoration: none;
}

/* line 11, ../sass/selects.scss */
.ui-selectmenu-menu li.ui-state-disabled a, .ui-state-disabled {
  cursor: default;
}

/* line 13, ../sass/selects.scss */
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status {
  padding-left: 20px;
  position: relative;
  margin-left: 5px;
}

/* line 14, ../sass/selects.scss */
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon {
  position: absolute;
  top: 1em;
  margin-top: -8px;
  left: 0;
}

/* line 15, ../sass/selects.scss */
.ui-selectmenu-status {
  line-height: 1.4em;
}

/* line 16, ../sass/selects.scss */
.ui-selectmenu-menu li span, .ui-selectmenu-status span {
  display: block;
  margin-bottom: .2em;
}

/* line 17, ../sass/selects.scss */
.ui-selectmenu-menu li .ui-selectmenu-item-header {
  font-weight: bold;
}

/* line 18, ../sass/selects.scss */
.ui-selectmenu-menu li .ui-selectmenu-item-footer {
  opacity: .8;
}

/* for optgroups */
/* line 20, ../sass/selects.scss */
.ui-selectmenu-menu .ui-selectmenu-group {
  font-size: 1em;
}

/* line 21, ../sass/selects.scss */
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label {
  line-height: 1.4em;
  display: block;
  padding: .6em .5em 0;
  font-weight: bold;
}

/* line 22, ../sass/selects.scss */
.ui-selectmenu-menu .ui-selectmenu-group ul {
  margin: 0;
  padding: 0;
}

/* IE6 workaround (dotted transparent borders) */
/* line 24, ../sass/selects.scss */
* html .ui-selectmenu-menu li {
  border-color: pink;
  filter: chroma(color=pink);
  width: 100%;
}

/* line 25, ../sass/selects.scss */
* html .ui-selectmenu-menu li a {
  position: relative;
}

/* IE7 workaround (opacity disabled) */
/* line 27, ../sass/selects.scss */
* + html .ui-state-disabled, * + html .ui-state-disabled a {
  color: silver;
}
