.menu a{color:#FFFFFF;text-decoration:none;}
a{outline:0}


.modal_img_fixed {position:fixed !important;}
*html .modal_img_fixed{
	_position: absolute !important;
	/*top: expression(document.compatMode=="CSS1Compat"? document.documentElement.scrollTop+200+"px" : body.scrollTop+200+"px") !important;*/}
.mask{background:/*url(../img/loading.gif) center center no-repeat */#000000;position:absolute;top:0px;left:0px;z-index:25;}

.modal_galeria{width:647px;height:535px;padding:0 0 0 10px;background-position:0 0;background-repeat:no-repeat;background-image:url(../imagens/bgr_modal_esq.png);_background-image:url(../imagens/bgr_modal_esq_ie.gif);margin:0 0 0 -323px;display:none;position:absolute;top:30px;left:50%;z-index:999;}
.modal_galeria2{width:634px;height:535px;padding:0 13px 0 0px;background-position:100% 0;background-repeat:no-repeat;background-image:url(../imagens/bgr_modal_dir.png);_background-image:url(../imagens/bgr_modal_dir_ie.gif);display:block;}
.modal_galeria3{width:634px;height:535px;background-image:url(../imagens/bgr_modal.png);_background-image:url(../imagens/bgr_modal_ie.jpg);background-position:0 0;background-repeat:repeat-x;}
.fechar{width:100%;height:21px;}
.fechar a{color:#FFFFFF;text-decoration:none;float:right;margin:4px 2px 0 0;font-size:10px;font-weight:bold;font-family:Verdana, Arial, Helvetica, sans-serif;}
.box_imgzoom{margin:15px auto 0 auto;width:605px;height:490px;background:url(../imagens/logo_modal.gif) 0 0 no-repeat;}
.box_imgzoom2{border-bottom:1px solid #114019;margin:0 auto;width:524px;height:405px;padding:0 31px;}
.div_recebeimg{width:420px;margin:0 auto;}
.div_recebeimg p{color:#114019;font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif;padding:15px 0 0 0;}
.btn_setas{background-image:url(../imagens/btn_setas.gif);background-repeat:no-repeat;height:31px;width:26px;position:absolute;top:180px;display:block;text-indent:-9999px;}
.btn_seta_esq{background-position:0 0;left:31px;}
.btn_seta_dir{background-position:100% 0;right:31px;}
.btn_seta_esq:hover{background-position:0 100%;}
.btn_seta_dir:hover{background-position:100% 100%;}
.recebe_img{background:url(../imagens/84.gif) center center no-repeat;height:315px;margin:0 auto;}
.stepcarousel{}
.stepcarousel .belt{position:relative;width:365px;margin:20px auto 0 auto;}
.stepcarousel .belt .leftbutton{background:url(../imagens/leftbutton.gif) 0 0 no-repeat;height:25px;width:20px; position:absolute;display:block;text-indent:-9999px;top:17px;left:-20px;}
.stepcarousel .belt .rightbutton{background:url(../imagens/rightbutton.gif) 0 0 no-repeat;height:25px;width:20px;position:absolute;display:block;text-indent:-9999px;top:17px;right:-20px;}
.stepcarousel .panel{display:none;}
.stepcarousel div.atual{display:block;}
.stepcarousel .panel a{float:left;margin:0 8px;_margin:0 8px 0 8px;width:72px;text-align:center;}
.stepcarousel .panel img{border:1px solid #B6B6B6;}
a.opac{filter:alpha(opacity=40);opacity:0.4;}