@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
	background: #e4e4e4;
	font-family: Open Sans;
}

#container{
	width: 1000px;
	margin: 0 auto;
}

#container .header{
	width: 100%;
	float: left;
	margin-top: 10px;
}
.logo{
	float: left;
}

#container .box-envio{
	width: 940px;
	float: left;
	background: #ccc;
	margin-top: 20px;
	padding: 30px;
}
#container .box-envio h1{
	width: 100%;
	float: left;
	text-align: center;
	margin-bottom: 10px;
}