<main id="login">
    <header>
        <h1>LOGIN</h1>
    </header>
    <form novalidate name="formLogin" ng-controller="Login" ng-submit='formLogin.$valid && loginSubmit()'>
        <input name="login" ng-model='login' required type="text" placeholder="E-mail/CPF/CNPJ">
        <input name="password" ng-model='password' required type="password" placeholder="Senha">
        <span>{{request.text || ""}}</span>
        <div class="button-submit" ng-click='formLogin.$valid && loginSubmit()'>
            <h4>{{request.button || "entrar"}}</h4>
        </div>
    </form>
</main>