<main id="main">
    <aside>
        <header>
            <form>
                <div class="container">
                    <div>
                        <input type="search" placeholder="buscar">
                    </div>
                    <div>
                        <img src="assets/images/search.png" alt="search-icon">
                    </div>
                </div>
            </form>
        </header>
        <nav>
            <ul>
                <li data-href="boletos">Boletos</li>
                <li data-href="servicos">Serviços</li>
            </ul> 
        </nav>
    </aside>
    <section>
        <header>
            <img class="menu" src="assets/images/menu25.png" alt="" style="display: none">
            <div class="username">{{user | uppercase}}</div>
            <ul>
                <li><a href="logout"><img src="assets/images/power.png" alt=""></a></li>
            </ul>
        </header>
        <div class="container">
            <view ng-view></view>
        </div>
    </section>
</main>