*{margin:0;padding: 0;}
body{background: #333;}

#login-box{
	width: 450px;
	margin: 0 auto;
}
.login-box-inner{
	width: 100%;
	float: left;
	margin-top: 200px;
}
h1{
	font-family: Arial;
	text-transform: uppercase;
	color: #e5e5e5;
	font-size: 23px;
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}
/*INPUTS*/
#login{
	width: 100%;
	float: left;
	background: #e5e5e5;
	border: 0;
	padding: 10px;
	font-style: italic;
}
#pass{
	width: 100%;
	float: left;
	background: #e5e5e5;
	border: 0;
	padding: 10px;
	margin-top: 10px;
}
#logar{
	width: 150px;
	float: left;
	padding: 10px;
	margin-top: 10px;
	background: #e67e22;
	border: 0;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 160px;
	cursor: pointer;
}
#logar:hover{
	opacity: 0.8;
}